(
A,
Aacute,
Abreve,
Abrevedotbelow,
Acaron,
Acircumflex,
Acircumflexdotbelow,
Adieresis,
Adotbelow,
Agrave,
Amacron,
Aogonek,
Aring,
Atilde,
AE,
B,
Bdotbelow,
C,
Cacute,
Ccaron,
Ccedilla,
Ccircumflex,
Cdotaccent,
D,
Dcaron,
Dcircumflexbelow,
Dcroat,
Ddotbelow,
Dmacronbelow,
Dtail,
Eth,
E,
Eacute,
Ecaron,
Ecedilla,
Ecircumflex,
Ecircumflexdotbelow,
Edieresis,
Edotaccent,
Edotbelow,
Egrave,
Emacron,
Eogonek,
Ereversed,
Etilde,
F,
G,
Gbreve,
Gcaron,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
Gmacron,
H,
Hbrevebelow,
Hcircumflex,
Hdotbelow,
I,
IJ,
Iacute,
Icaron,
Icircumflex,
Idieresis,
Idotaccent,
Idotbelow,
Igrave,
Imacron,
Iogonek,
Itilde,
J,
Jacute,
Jcircumflex,
K,
Kcaron,
Kcommaaccent,
Kmacronbelow,
L,
Lacute,
Lcaron,
Lcircumflexbelow,
Lcommaaccent,
Ldotbelow,
Ldotbelowmacron,
Lmacronbelow,
Lslash,
M,
Macute,
Mdotaccent,
Mdotbelow,
N,
Nacute,
Ncaron,
Ncircumflexbelow,
Ncommaaccent,
Ndotaccent,
Ndotbelow,
Nmacronbelow,
Ntilde,
O,
Oacute,
Ocaron,
Ocircumflex,
Ocircumflexdotbelow,
Odieresis,
Odotbelow,
Ograve,
Ohungarumlaut,
Omacron,
Oopen,
Oslash,
Oslashacute,
Otilde,
OE,
P,
Thorn,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
Rdotbelowmacron,
Rmacronbelow,
S,
Sacute,
Scaron,
Scedilla,
Scircumflex,
Scommaaccent,
Sdotbelow,
T,
Tcaron,
Tcedilla,
Tcircumflexbelow,
Tcommaaccent,
Tdotbelow,
Tmacronbelow,
U,
Uacute,
Ubreve,
Ucaron,
Ucircumflex,
Udieresis,
Udotbelow,
Ugrave,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
Utilde,
V,
Vturned,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
X,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ydotaccent,
Ydotbelow,
Ygrave,
Ymacron,
Ytilde,
Z,
Zacute,
Zcaron,
Zdotaccent,
Zdotbelow,
Zmacronbelow,
J.cv05,
Jacute.cv05,
Jcircumflex.cv05,
Q.cv06,
I.cv19,
IJ.cv19,
Iacute.cv19,
Icaron.cv19,
Icircumflex.cv19,
Idieresis.cv19,
Idotaccent.cv19,
Idotbelow.cv19,
Igrave.cv19,
Imacron.cv19,
Iogonek.cv19,
Itilde.cv19,
Cacute.loclPLK,
Nacute.loclPLK,
Oacute.loclPLK,
Sacute.loclPLK,
Zacute.loclPLK,
a,
aacute,
abreve,
abrevedotbelow,
acaron,
acircumflex,
acircumflexdotbelow,
adblgrave,
adieresis,
adotaccent,
adotbelow,
agrave,
"alpha-latin",
"alphaturned-latin",
amacron,
aogonek,
aring,
atilde,
aturned,
ae,
b,
bdotbelow,
c,
cacute,
ccaron,
ccedilla,
ccircumflex,
cdotaccent,
d,
dcaron,
dcircumflexbelow,
dcroat,
ddotbelow,
dmacronbelow,
eth,
e,
eacute,
ecaron,
ecedilla,
ecircumflex,
ecircumflexdotbelow,
edieresis,
edotaccent,
edotbelow,
egrave,
emacron,
eogonek,
ereversed,
etilde,
eturned,
schwa,
f,
g,
gbreve,
gcaron,
gcircumflex,
gcommaaccent,
gdotaccent,
gmacron,
gsingle,
h,
hbar,
hbrevebelow,
hcircumflex,
hdotbelow,
hmacronbelow,
i,
idotless,
iacute,
icaron,
icircumflex,
idieresis,
idotaccent,
idotbelow,
igrave,
imacron,
iogonek,
istroke,
itilde,
ij,
j,
jdotless,
jacute,
jcircumflex,
k,
kcaron,
kcommaaccent,
kmacronbelow,
kturned,
l,
lacute,
lcaron,
lcircumflexbelow,
lcommaaccent,
ldotbelow,
ldotbelowmacron,
lmacronbelow,
lslash,
m,
macute,
mdotaccent,
mdotbelow,
mturned,
n,
nacute,
ncaron,
ncircumflexbelow,
ncommaaccent,
ndotaccent,
ndotbelow,
nmacronbelow,
ntilde,
o,
oacute,
ocaron,
ocircumflex,
ocircumflexdotbelow,
odieresis,
odotbelow,
ograve,
ohungarumlaut,
omacron,
oopen,
oslash,
oslashacute,
otilde,
oe,
p,
thorn,
q,
r,
racute,
rcaron,
rcommaaccent,
rdotbelowmacron,
rmacronbelow,
rturned,
s,
sacute,
scaron,
scedilla,
scircumflex,
scommaaccent,
sdotbelow,
germandbls,
t,
tcaron,
tcedilla,
tcircumflexbelow,
tcommaaccent,
tdieresis,
tdotbelow,
tmacronbelow,
u,
uacute,
ubreve,
ucaron,
ucircumflex,
udieresis,
udotbelow,
ugrave,
uhungarumlaut,
umacron,
uogonek,
uring,
utilde,
v,
vturned,
w,
wacute,
wcircumflex,
wdieresis,
wgrave,
wturned,
x,
y,
yacute,
ycircumflex,
ydieresis,
ydotaccent,
ydotbelow,
ygrave,
ymacron,
ytilde,
yturned,
z,
zacute,
zcaron,
zdotaccent,
zdotbelow,
zmacronbelow,
j.cv01,
jdotless.cv01,
jacute.cv01,
jcircumflex.cv01,
t.cv02,
tcaron.cv02,
tcedilla.cv02,
tcircumflexbelow.cv02,
tcommaaccent.cv02,
tdieresis.cv02,
tdotbelow.cv02,
tmacronbelow.cv02,
a.cv03,
aacute.cv03,
abreve.cv03,
abrevedotbelow.cv03,
acaron.cv03,
acircumflex.cv03,
acircumflexdotbelow.cv03,
adblgrave.cv03,
adieresis.cv03,
adotaccent.cv03,
adotbelow.cv03,
agrave.cv03,
amacron.cv03,
aogonek.cv03,
aring.cv03,
atilde.cv03,
aturned.cv03,
u.cv04,
uacute.cv04,
ubreve.cv04,
ucaron.cv04,
ucircumflex.cv04,
udieresis.cv04,
udotbelow.cv04,
ugrave.cv04,
uhungarumlaut.cv04,
umacron.cv04,
uogonek.cv04,
uring.cv04,
utilde.cv04,
b.cv14,
bdotbelow.cv14,
d.cv14,
dcaron.cv14,
dcircumflexbelow.cv14,
dcroat.cv14,
ddotbelow.cv14,
dmacronbelow.cv14,
h.cv14,
hbar.cv14,
hbrevebelow.cv14,
hcircumflex.cv14,
hdotbelow.cv14,
hmacronbelow.cv14,
k.cv14,
kcaron.cv14,
kcommaaccent.cv14,
kmacronbelow.cv14,
l.cv14,
lacute.cv14,
lcaron.cv14,
lcircumflexbelow.cv14,
lcommaaccent.cv14,
ldotbelow.cv14,
ldotbelowmacron.cv14,
lmacronbelow.cv14,
lslash.cv14,
r.cv16,
racute.cv16,
rcaron.cv16,
rcommaaccent.cv16,
rdotbelowmacron.cv16,
rmacronbelow.cv16,
rturned.cv16,
l.cv17,
lacute.cv17,
lcaron.cv17,
lcircumflexbelow.cv17,
lcommaaccent.cv17,
ldotbelow.cv17,
ldotbelowmacron.cv17,
lmacronbelow.cv17,
lslash.cv17,
f.cv20,
g.cv21,
gbreve.cv21,
gcaron.cv21,
gcircumflex.cv21,
gcommaaccent.cv21,
gdotaccent.cv21,
gmacron.cv21,
gsingle.cv21,
a.cv22,
aacute.cv22,
abreve.cv22,
abrevedotbelow.cv22,
acaron.cv22,
acircumflex.cv22,
acircumflexdotbelow.cv22,
adblgrave.cv22,
adieresis.cv22,
adotaccent.cv22,
adotbelow.cv22,
agrave.cv22,
amacron.cv22,
aogonek.cv22,
aring.cv22,
atilde.cv22,
aturned.cv22,
e.cv23,
eacute.cv23,
ecaron.cv23,
ecedilla.cv23,
ecircumflex.cv23,
ecircumflexdotbelow.cv23,
edieresis.cv23,
edotaccent.cv23,
edotbelow.cv23,
egrave.cv23,
emacron.cv23,
eogonek.cv23,
ereversed.cv23,
etilde.cv23,
eturned.cv23,
schwa.cv23,
aacute.loclPLK,
cacute.loclPLK,
nacute.loclPLK,
oacute.loclPLK,
sacute.loclPLK,
zacute.loclPLK,
aacute.loclPLK.cv03,
l.cv14.cv17,
lacute.cv14.cv17,
lcaron.cv14.cv17,
lcircumflexbelow.cv14.cv17,
lcommaaccent.cv14.cv17,
ldotbelow.cv14.cv17,
ldotbelowmacron.cv14.cv17,
lmacronbelow.cv14.cv17,
lslash.cv14.cv17,
aacute.loclPLK.cv22,
a.dnom,
b.dnom,
c.dnom,
d.dnom,
e.dnom,
f.dnom,
g.dnom,
h.dnom,
i.dnom,
j.dnom,
k.dnom,
l.dnom,
m.dnom,
n.dnom,
o.dnom,
p.dnom,
q.dnom,
r.dnom,
s.dnom,
t.dnom,
u.dnom,
v.dnom,
w.dnom,
x.dnom,
y.dnom,
z.dnom,
a.numr,
b.numr,
c.numr,
d.numr,
e.numr,
f.numr,
g.numr,
h.numr,
i.numr,
j.numr,
k.numr,
l.numr,
m.numr,
n.numr,
o.numr,
p.numr,
q.numr,
r.numr,
s.numr,
t.numr,
u.numr,
v.numr,
w.numr,
x.numr,
y.numr,
z.numr,
j.dnom.cv01,
j.numr.cv01,
t.dnom.cv02,
t.numr.cv02,
a.dnom.cv03,
a.numr.cv03,
u.dnom.cv04,
u.numr.cv04,
r.dnom.cv16,
r.numr.cv16,
l.dnom.cv17,
l.numr.cv17,
f.dnom.cv20,
f.numr.cv20,
g.dnom.cv21,
g.numr.cv21,
a.dnom.cv22,
a.numr.cv22,
e.dnom.cv23,
e.numr.cv23,
f_f,
f_f_i,
f_f_l,
fi,
fl,
f_f.cv20,
f_f_i.cv20,
f_f_l.cv20,
fi.cv20,
fl.cv20,
f_f.end,
f_f.start,
f_i.start,
f_f.end.cv20,
f_f.start.cv20,
f_i.start.cv20,
b.subs,
c.subs,
d.subs,
f.subs,
g.subs,
q.subs,
w.subs,
y.subs,
z.subs,
j.subs.cv01,
j.sups.cv01,
t.subs.cv02,
t.sups.cv02,
a.subs.cv03,
a.sups.cv03,
u.subs.cv04,
u.sups.cv04,
r.subs.cv16,
r.sups.cv16,
l.subs.cv17,
l.sups.cv17,
f.subs.cv20,
f.sups.cv20,
g.subs.cv21,
g.sups.cv21,
a.subs.cv22,
a.sups.cv22,
e.subs.cv23,
e.sups.cv23,
a.subs,
e.subs,
i.subs,
j.subs,
o.subs,
r.subs,
u.subs,
v.subs,
x.subs,
h.sups,
i.sups,
j.sups,
l.sups,
n.sups,
r.sups,
s.sups,
w.sups,
x.sups,
y.sups,
ordfeminine,
ordmasculine,
ordfeminine.cv03,
ordfeminine.cv22,
h.subs,
k.subs,
l.subs,
m.subs,
n.subs,
p.subs,
s.subs,
t.subs,
a.sups,
b.sups,
c.sups,
d.sups,
e.sups,
f.sups,
g.sups,
k.sups,
m.sups,
o.sups,
p.sups,
t.sups,
u.sups,
v.sups,
z.sups,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.zero,
zero.blackCircled,
one.blackCircled,
two.blackCircled,
three.blackCircled,
four.blackCircled,
five.blackCircled,
six.blackCircled,
seven.blackCircled,
eight.blackCircled,
nine.blackCircled,
zero.box,
one.box,
two.box,
three.box,
four.box,
five.box,
six.box,
seven.box,
eight.box,
nine.box,
zero.circled,
one.circled,
two.circled,
three.circled,
four.circled,
five.circled,
six.circled,
seven.circled,
eight.circled,
nine.circled,
one.cv07,
two.cv08,
three.cv09,
four.cv10,
six.cv11,
nine.cv11,
seven.cv12,
two.cv15,
one.cv18,
zero.roundBlackBox,
one.roundBlackBox,
two.roundBlackBox,
three.roundBlackBox,
four.roundBlackBox,
five.roundBlackBox,
six.roundBlackBox,
seven.roundBlackBox,
eight.roundBlackBox,
nine.roundBlackBox,
zero.tf,
one.tf,
two.tf,
three.tf,
four.tf,
five.tf,
six.tf,
seven.tf,
eight.tf,
nine.tf,
one.box.cv07,
two.box.cv08,
three.box.cv09,
four.box.cv10,
six.box.cv11,
nine.box.cv11,
seven.box.cv12,
two.box.cv15,
one.box.cv18,
zero.box.zero,
one.blackCircled.cv07,
one.circled.cv07,
one.cv07.cv18,
two.blackCircled.cv08,
two.circled.cv08,
three.blackCircled.cv09,
three.circled.cv09,
four.blackCircled.cv10,
four.circled.cv10,
six.blackCircled.cv11,
nine.blackCircled.cv11,
six.circled.cv11,
nine.circled.cv11,
seven.blackCircled.cv12,
seven.circled.cv12,
two.blackCircled.cv15,
two.circled.cv15,
one.blackCircled.cv18,
one.circled.cv18,
one.roundBlackBox.cv07,
two.roundBlackBox.cv08,
three.roundBlackBox.cv09,
four.roundBlackBox.cv10,
six.roundBlackBox.cv11,
nine.roundBlackBox.cv11,
seven.roundBlackBox.cv12,
two.roundBlackBox.cv15,
one.roundBlackBox.cv18,
zero.roundBlackBox.zero,
one.tf.cv07,
two.tf.cv08,
three.tf.cv09,
four.tf.cv10,
six.tf.cv11,
nine.tf.cv11,
seven.tf.cv12,
two.tf.cv15,
one.tf.cv18,
zero.tf.zero,
zero.blackCircled.zero,
zero.circled.zero,
one.box.cv07.cv18,
one.blackCircled.cv07.cv18,
one.circled.cv07.cv18,
one.roundBlackBox.cv07.cv18,
one.tf.cv07.cv18,
zero.dnom,
one.dnom,
two.dnom,
three.dnom,
four.dnom,
five.dnom,
six.dnom,
seven.dnom,
eight.dnom,
nine.dnom,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
fraction,
onehalf,
onequarter,
threequarters,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
one.dnom.cv07,
one.numr.cv07,
onehalf.cv07,
onequarter.cv07,
oneeighth.cv07,
two.dnom.cv08,
two.numr.cv08,
onehalf.cv08,
three.dnom.cv09,
three.numr.cv09,
threequarters.cv09,
threeeighths.cv09,
four.dnom.cv10,
four.numr.cv10,
onequarter.cv10,
threequarters.cv10,
six.dnom.cv11,
nine.dnom.cv11,
six.numr.cv11,
nine.numr.cv11,
seven.dnom.cv12,
seven.numr.cv12,
seveneighths.cv12,
two.dnom.cv15,
two.numr.cv15,
onehalf.cv15,
one.dnom.cv18,
one.numr.cv18,
onehalf.cv18,
onequarter.cv18,
oneeighth.cv18,
zero.dnom.zero,
zero.numr.zero,
onehalf.cv07.cv08,
onequarter.cv07.cv10,
onehalf.cv07.cv15,
one.dnom.cv07.cv18,
one.numr.cv07.cv18,
onehalf.cv07.cv18,
onequarter.cv07.cv18,
oneeighth.cv07.cv18,
onehalf.cv08.cv18,
threequarters.cv09.cv10,
onequarter.cv10.cv18,
onehalf.cv15.cv18,
onehalf.cv07.cv08.cv18,
onequarter.cv07.cv10.cv18,
onehalf.cv07.cv15.cv18,
zeroinferior,
oneinferior,
twoinferior,
threeinferior,
fourinferior,
fiveinferior,
sixinferior,
seveninferior,
eightinferior,
nineinferior,
zerosuperior,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
fivesuperior,
sixsuperior,
sevensuperior,
eightsuperior,
ninesuperior,
oneinferior.cv07,
onesuperior.cv07,
twoinferior.cv08,
twosuperior.cv08,
threeinferior.cv09,
threesuperior.cv09,
fourinferior.cv10,
foursuperior.cv10,
sixinferior.cv11,
nineinferior.cv11,
sixsuperior.cv11,
ninesuperior.cv11,
seveninferior.cv12,
sevensuperior.cv12,
twoinferior.cv15,
twosuperior.cv15,
oneinferior.cv18,
onesuperior.cv18,
zeroinferior.zero,
zerosuperior.zero,
oneinferior.cv07.cv18,
onesuperior.cv07.cv18,
space,
enquad,
emquad,
threeperemspace,
fourperemspace,
sixperemspace,
figurespace,
punctuationspace,
thinspace,
hairspace,
zerowidthspace,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
asterism,
lowasterisk,
numbersign,
slash,
backslash,
twoasterisksvertical,
twodotenleader,
ellipsis.calt3,
twodotenleader.calt3,
colon.case,
questiondown.case,
periodcentered.case,
slash.case,
backslash.case,
question.cv13,
questiondown.cv13,
periodcentered.loclCAT,
questiondown.loclhang,
periodcentered.loclhang,
slash.loclhang,
backslash.loclhang,
periodcentered.loclCAT.case,
questiondown.case.cv13,
questiondown.loclhang.cv13,
hyphen,
softhyphen,
endash,
emdash,
underscore,
hyphen.case,
endash.case,
emdash.case,
hyphen.loclhang,
endash.loclhang,
emdash.loclhang,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
anglebracketleft,
anglebracketright,
blacklenticularbracketleft,
blacklenticularbracketright,
cornerbracketleft,
cornerbracketright,
dblanglebracketleft,
dblanglebracketright,
tortoiseshellbracketleft,
tortoiseshellbracketright,
whitecornerbracketleft,
whitecornerbracketright,
parenleft.case,
parenright.case,
braceleft.case,
braceright.case,
bracketleft.case,
bracketright.case,
parenleft.loclhang,
parenright.loclhang,
braceleft.loclhang,
braceright.loclhang,
bracketleft.loclhang,
bracketright.loclhang,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
guillemetleft.case,
guillemetright.case,
guilsinglleft.case,
guilsinglright.case,
guillemetleft.loclhang,
guillemetright.loclhang,
guilsinglleft.loclhang,
guilsinglright.loclhang,
florin,
Q.tag.black.bold,
A.tag,
B.tag,
C.tag,
D.tag,
E.tag,
F.tag,
G.tag,
H.tag,
I.tag,
J.tag,
K.tag,
L.tag,
M.tag,
N.tag,
O.tag,
P.tag,
Q.tag,
R.tag,
S.tag,
T.tag,
U.tag,
V.tag,
W.tag,
X.tag,
Y.tag,
Z.tag,
eight.tag,
five.tag,
four.tag,
nine.tag,
one.tag,
seven.tag,
six.tag,
three.tag,
two.tag,
zero.tag,
A.tag.black,
B.tag.black,
C.tag.black,
D.tag.black,
E.tag.black,
F.tag.black,
G.tag.black,
H.tag.black,
I.tag.black,
J.tag.black,
K.tag.black,
L.tag.black,
M.tag.black,
N.tag.black,
O.tag.black,
P.tag.black,
Q.tag.black,
R.tag.black,
S.tag.black,
T.tag.black,
U.tag.black,
V.tag.black,
W.tag.black,
X.tag.black,
Y.tag.black,
Z.tag.black,
eight.tag.black,
five.tag.black,
four.tag.black,
nine.tag.black,
one.tag.black,
seven.tag.black,
six.tag.black,
three.tag.black,
two.tag.black,
zero.tag.black,
Q.tag.bold,
J.tag.cv05,
Q.tag.cv06,
one.tag.cv07,
two.tag.cv08,
three.tag.cv09,
four.tag.cv10,
nine.tag.cv11,
six.tag.cv11,
seven.tag.cv12,
two.tag.cv15,
one.tag.cv18,
zero.tag.zero,
J.tag.black.cv05,
Q.tag.black.cv06,
one.tag.black.cv07,
two.tag.black.cv08,
three.tag.black.cv09,
four.tag.black.cv10,
nine.tag.black.cv11,
six.tag.black.cv11,
seven.tag.black.cv12,
two.tag.black.cv15,
one.tag.black.cv18,
one.tag.cv07.cv18,
zero.tag.black.zero,
one.tag.black.cv07.cv18,
A.blackCircled,
B.blackCircled,
C.blackCircled,
D.blackCircled,
E.blackCircled,
F.blackCircled,
G.blackCircled,
H.blackCircled,
I.blackCircled,
J.blackCircled,
K.blackCircled,
L.blackCircled,
M.blackCircled,
N.blackCircled,
O.blackCircled,
P.blackCircled,
Q.blackCircled,
R.blackCircled,
S.blackCircled,
T.blackCircled,
U.blackCircled,
V.blackCircled,
W.blackCircled,
X.blackCircled,
Y.blackCircled,
Z.blackCircled,
A.box,
B.box,
C.box,
D.box,
E.box,
F.box,
G.box,
H.box,
I.box,
J.box,
K.box,
L.box,
M.box,
N.box,
O.box,
P.box,
Q.box,
R.box,
S.box,
T.box,
U.box,
V.box,
W.box,
X.box,
Y.box,
Z.box,
at,
ampersand,
paragraph,
section,
copyright,
registered,
trademark,
degree,
bar,
brokenbar,
dagger,
daggerdbl,
A.roundBlackBox,
B.roundBlackBox,
C.roundBlackBox,
D.roundBlackBox,
E.roundBlackBox,
F.roundBlackBox,
G.roundBlackBox,
H.roundBlackBox,
I.roundBlackBox,
J.roundBlackBox,
K.roundBlackBox,
L.roundBlackBox,
M.roundBlackBox,
N.roundBlackBox,
O.roundBlackBox,
P.roundBlackBox,
Q.roundBlackBox,
R.roundBlackBox,
S.roundBlackBox,
T.roundBlackBox,
U.roundBlackBox,
V.roundBlackBox,
W.roundBlackBox,
X.roundBlackBox,
Y.roundBlackBox,
Z.roundBlackBox,
Q.blackCircled.bold,
Q.box.bold,
at.case,
J.blackCircled.cv05,
J.box.cv05,
Q.blackCircled.cv06,
Q.box.cv06,
at.loclhang,
bar.locllatn,
brokenbar.locllatn,
A.circled,
B.circled,
C.circled,
D.circled,
E.circled,
F.circled,
G.circled,
H.circled,
I.circled,
J.circled,
K.circled,
L.circled,
M.circled,
N.circled,
O.circled,
P.circled,
Q.circled,
R.circled,
S.circled,
T.circled,
U.circled,
V.circled,
W.circled,
X.circled,
Y.circled,
Z.circled,
Q.roundBlackBox.bold,
J.roundBlackBox.cv05,
Q.roundBlackBox.cv06,
Q.blackCircled.bold.cv06,
Q.box.bold.cv06,
Q.circled.bold,
J.circled.cv05,
Q.circled.cv06,
Q.roundBlackBox.bold.cv06,
Q.circled.bold.cv06,
cent,
currency,
dollar,
euro,
sterling,
won,
yen,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
micro,
percent,
perthousand,
pertenthousand,
plus.case,
minus.case,
multiply.case,
divide.case,
equal.case,
greater.case,
less.case,
plusminus.case,
approxequal.case,
asciitilde.case,
logicalnot.case,
plus.loclhang,
minus.loclhang,
multiply.loclhang,
divide.loclhang,
equal.loclhang,
greater.loclhang,
less.loclhang,
plusminus.loclhang,
approxequal.loclhang,
asciitilde.loclhang,
logicalnot.loclhang,
upArrow,
northEastArrow,
rightArrow,
southEastArrow,
downArrow,
southWestArrow,
leftArrow,
northWestArrow,
leftRightArrow,
upDownArrow,
blackCircle,
whiteCircle,
blackSquare,
whiteSquare,
whiteRoundedCornersSquare,
enclosingcirclecomb,
enclosingsquarecomb,
dieresiscomb,
dotaccentcomb,
gravecomb,
acutecomb,
hungarumlautcomb,
caroncomb.alt,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
dblgravecomb,
commaturnedabovecomb,
commareversedabovecomb,
gravebelowcomb,
acutebelowcomb,
dotbelowcomb,
dieresisbelowcomb,
ringbelowcomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
caronbelowcomb,
circumflexbelowcomb,
brevebelowcomb,
breveinvertedbelowcomb,
tildebelowcomb,
macronbelowcomb,
strokeshortcomb,
ogonekcomb.case,
acutecomb.loclPLK,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
acute.loclPLK,
commareversedmod,
q.sups,
_part.percentfraction,
_part.AEbase,
_part.Bbase,
_part.Dbase,
_part.Ebase,
_part.Ethbase,
_part.Fbase,
_part.Hbase,
_part.Iserifbase,
_part.Jserif,
_part.Kbase,
_part.Lbase,
_part.Mbase,
_part.Nbase,
_part.OEbase,
_part.Qbase,
_part.Rbase,
_part.Tbase,
_part.Ybase,
_part.aebase,
_part.atbase,
_part.braceleftbase,
_part.centbase,
_part.cieucuParenbase,
_part.cieucuParenparenleft,
_part.daggerbar,
_part.dblanglebracketleftbase,
_part.dollarbase,
_part.equalnotslash,
_part.eurobase,
_part.exclambase,
_part.fbase,
_part.florinbase,
_part.gbase,
_part.kbase,
_part.microbase,
_part.oebase,
_part.oneserifbase,
_part.paragraphbase,
_part.paragraphstem,
_part.percentzero,
_part.questionbase,
_part.rbase,
_part.registeredbase,
_part.registeredcircle,
_part.skipanchorM,
_part.sterlingbase,
_part.trademarkbase,
_part.whitecornerbracketleftbase,
_part.wonbase,
_part.xebase,
_part.yenbase,
_smart.Pbase,
_smart.bowl,
_smart.crossbar,
_smart.currencybar,
_smart.currencybardouble,
_smart.currencystem,
_smart.diacriticslashlarge,
_smart.diacriticslashsmall,
_smart.dot,
_smart.fligature,
_smart.grave,
_smart.horizontalbar,
_smart.lowerstem,
_smart.ogonek,
_smart.shoulder,
_smart.terminal,
_smart.upperstem,
_smart.zeroslashbase,
_part.basesymbol.large,
_part.basesymbol.medium,
_part.basesymbol.small,
_part.fbase.cv20,
_part.gbase.cv21,
_part.percentzero.case,
_part.questionbase.cv13,
_part.rbase.cv16,
_smart.fligature.cv20,
_smart.lowerstem.curve,
wantedLogo,
wantedLogotype,
wantedSymbol,
iconArrowBottomLeft.large,
iconArrowBottomLeft.medium,
iconArrowBottomLeft.small,
iconArrowBottomRight.large,
iconArrowBottomRight.medium,
iconArrowBottomRight.small,
iconArrowDown.large,
iconArrowDown.medium,
iconArrowDown.small,
iconArrowLeft.large,
iconArrowLeft.medium,
iconArrowLeft.small,
iconArrowLeftRight.large,
iconArrowLeftRight.medium,
iconArrowLeftRight.small,
iconArrowRight.large,
iconArrowRight.medium,
iconArrowRight.small,
iconArrowTopLeft.large,
iconArrowTopLeft.medium,
iconArrowTopLeft.small,
iconArrowTopRight.large,
iconArrowTopRight.medium,
iconArrowTopRight.small,
iconArrowUp.large,
iconArrowUp.medium,
iconArrowUp.small,
iconArrowUpDown.large,
iconArrowUpDown.medium,
iconArrowUpDown.small,
iconCheck.large,
iconCheck.medium,
iconCheck.small,
iconCircle.large,
iconCircle.medium,
iconCircle.small,
iconCircleFill.large,
iconCircleFill.medium,
iconCircleFill.small,
iconClose.large,
iconClose.medium,
iconClose.small,
iconSquare.large,
iconSquare.medium,
iconSquare.small,
iconSquareFill.large,
iconSquareFill.medium,
iconSquareFill.small,
baseSymbol,
baseSymbol.large,
baseSymbol.medium
)