{
.appVersion = "3192";
.formatVersion = 3;
axes = (
{
name = Weight;
tag = wght;
}
);
classes = (
{
automatic = 1;
code = "A B C D E F G H I J K L M N O P Q R S T U V W X Y Z J.cv05 Q.cv06";
name = Uppercase;
},
{
automatic = 1;
code = "a b c d e f g h i idotless j jdotless k l m n o p q r s t u v w x y z j.cv01 jdotless.cv01 t.cv02 a.cv03 u.cv04";
name = Lowercase;
},
{
code = "$[category like \"Number\"]
";
name = Numeral;
},
{
code = "@Uppercase
@Numeral";
name = Case;
},
{
code = "$[colorIndex == 0 and note contains \"$CASE\"] 
";
name = CASE_L;
},
{
code = "$[colorIndex == 1 and note contains \"$CASE\"] 
";
name = CASE_R;
},
{
code = "$[colorIndex == 0 and note contains \"$EXTRA_STEM_LOWERCASE\"] 
";
name = EXTRA_STEM_LOWERCASE_L;
},
{
code = "$[colorIndex == 1 and note contains \"$EXTRA_STEM_LOWERCASE\"] 
";
name = EXTRA_STEM_LOWERCASE_R;
}
);
customParameters = (
{
name = fsType;
value = (
);
}
);
date = "2023-05-23 09:10:56 +0000";
familyName = "Wanted Sans Beta";
featurePrefixes = (
{
automatic = 1;
code = "languagesystem DFLT dflt;

languagesystem latn dflt;
languagesystem latn PLK;
";
name = Languagesystems;
},
{
code = "lookup LOOKUP_CALT_1 {
# Ignore aligning lowercase-based glyphs: l_l
ignore sub @CASE_L' @Lowercase;
ignore sub @Lowercase @CASE_L';

# Cut two more uppercase based glyphs
ignore sub @CASE_L' @CASE_L;
ignore sub @CASE_L @CASE_L';

# Align lowercase-based glyphs with uppercase: U-U
sub @Case @CASE_L' by @CASE_R;
sub @CASE_L' @Case by @CASE_R;
} LOOKUP_CALT_1;

lookup LOOKUP_CALT_2 {
# Separate I and l
sub I @EXTRA_STEM_LOWERCASE_L' by @EXTRA_STEM_LOWERCASE_R;
sub @EXTRA_STEM_LOWERCASE_R @EXTRA_STEM_LOWERCASE_L' by @EXTRA_STEM_LOWERCASE_R;
} LOOKUP_CALT_2;
";
name = LOOKUP_CALT;
}
);
features = (
{
automatic = 1;
code = "feature locl;
feature case;
feature cv01;
feature cv02;
feature cv03;
feature cv04;
feature cv05;
feature cv06;
feature cv07;
feature cv08;
feature cv09;
feature cv10;
feature cv11;
feature cv12;
feature cv13;
feature cv14;
feature cv15;
feature cv16;
";
tag = aalt;
},
{
automatic = 1;
code = "lookup ccmp_Other_1 {
	@CombiningTopAccents = [acutecomb brevecomb caroncomb circumflexcomb dblgravecomb dieresiscomb dotaccentcomb gravecomb hungarumlautcomb macroncomb ringcomb tildecomb];
	@CombiningNonTopAccents = [cedillacomb ogonekcomb];
	sub [i j]' @CombiningTopAccents by [idotless jdotless];
	sub [i j]' @CombiningNonTopAccents @CombiningTopAccents by [idotless jdotless];
} ccmp_Other_1;
";
tag = ccmp;
},
{
automatic = 1;
code = "script latn;
language PLK;
lookup locl_latn_0 {
	sub aacute by aacute.loclPLK;
	sub acutecomb by acutecomb.loclPLK;
	sub acute by acute.loclPLK;
} locl_latn_0;
";
tag = locl;
},
{
automatic = 1;
code = "sub colon by colon.case;
sub hyphen by hyphen.case;
sub endash by endash.case;
sub emdash by emdash.case;
sub parenleft by parenleft.case;
sub parenright by parenright.case;
sub braceleft by braceleft.case;
sub braceright by braceright.case;
sub bracketleft by bracketleft.case;
sub bracketright by bracketright.case;
sub at by at.case;
sub plus by plus.case;
sub minus by minus.case;
sub equal by equal.case;
sub asciitilde by asciitilde.case;
";
tag = case;
},
{
code = "lookup LOOKUP_CALT_1;
lookup LOOKUP_CALT_2;
";
tag = calt;
},
{
automatic = 1;
code = "sub j by j.cv01;
sub jdotless by jdotless.cv01;
";
tag = cv01;
},
{
automatic = 1;
code = "sub t by t.cv02;
";
tag = cv02;
},
{
automatic = 1;
code = "sub a by a.cv03;
sub aacute by aacute.cv03;
sub abreve by abreve.cv03;
sub acaron by acaron.cv03;
sub acircumflex by acircumflex.cv03;
sub adblgrave by adblgrave.cv03;
sub adieresis by adieresis.cv03;
sub adotaccent by adotaccent.cv03;
sub agrave by agrave.cv03;
sub amacron by amacron.cv03;
sub aogonek by aogonek.cv03;
sub aring by aring.cv03;
sub atilde by atilde.cv03;
sub aacute.loclPLK by aacute.loclPLK.cv03;
";
tag = cv03;
},
{
automatic = 1;
code = "sub u by u.cv04;
";
tag = cv04;
},
{
automatic = 1;
code = "sub J by J.cv05;
";
tag = cv05;
},
{
automatic = 1;
code = "sub Q by Q.cv06;
";
tag = cv06;
},
{
automatic = 1;
code = "sub one by one.cv07;
";
tag = cv07;
},
{
automatic = 1;
code = "sub two by two.cv08;
";
tag = cv08;
},
{
automatic = 1;
code = "sub three by three.cv09;
";
tag = cv09;
},
{
automatic = 1;
code = "sub four by four.cv10;
";
tag = cv10;
},
{
automatic = 1;
code = "sub six by six.cv11;
sub nine by nine.cv11;
";
tag = cv11;
},
{
automatic = 1;
code = "sub seven by seven.cv12;
";
tag = cv12;
},
{
automatic = 1;
code = "sub question by question.cv13;
sub questiondown by questiondown.cv13;
";
tag = cv13;
},
{
automatic = 1;
code = "sub b by b.cv14;
sub d by d.cv14;
sub h by h.cv14;
sub k by k.cv14;
sub l by l.cv14;
";
tag = cv14;
},
{
automatic = 1;
code = "sub two by two.cv15;
";
tag = cv15;
},
{
automatic = 1;
code = "sub f by f.cv16;
sub j by j.cv16;
sub jdotless by jdotless.cv16;
sub t by t.cv16;
sub t.cv02 by t.cv02.cv16;
";
tag = cv16;
}
);
fontMaster = (
{
axesValues = (
400
);
customParameters = (
{
name = "Master Icon Glyph Name";
value = R;
},
{
name = typoAscender;
value = 1950;
},
{
name = hheaAscender;
value = 1950;
},
{
name = winAscent;
value = 1950;
},
{
name = typoDescender;
value = -494;
},
{
name = hheaDescender;
value = -494;
},
{
name = winDescent;
value = 494;
},
{
name = strikeoutPosition;
value = 604;
},
{
name = underlineThickness;
value = 164;
},
{
name = strikeoutSize;
value = 164;
},
{
name = underlinePosition;
value = -399;
},
{
name = typoLineGap;
value = 0;
},
{
name = hheaLineGap;
value = 0;
}
);
id = m01;
metricValues = (
{
pos = 1950;
},
{
over = 28;
pos = 1448;
},
{
over = 28;
pos = 1032;
},
{
over = -28;
},
{
over = -28;
pos = -432;
},
{
over = -16;
},
{
pos = 760;
},
{
pos = 540;
}
);
name = Regular;
userData = {
GSOffsetHorizontal = -20.5;
GSOffsetKeepCompatible = 1;
GSOffsetVertical = -20.5;
};
},
{
axesValues = (
900
);
customParameters = (
{
name = "Master Icon Glyph Name";
value = B;
},
{
name = typoAscender;
value = 1950;
},
{
name = hheaAscender;
value = 1950;
},
{
name = winAscent;
value = 1950;
},
{
name = typoDescender;
value = -494;
},
{
name = hheaDescender;
value = -494;
},
{
name = winDescent;
value = 494;
},
{
name = strikeoutPosition;
value = 604;
},
{
name = underlineThickness;
value = 164;
},
{
name = strikeoutSize;
value = 164;
},
{
name = underlinePosition;
value = -399;
},
{
name = typoLineGap;
value = 0;
},
{
name = hheaLineGap;
value = 0;
}
);
id = "94F54C43-8AEE-4ED6-B3C2-2A9D33534E61";
metricValues = (
{
pos = 1950;
},
{
over = 28;
pos = 1448;
},
{
over = 28;
pos = 1032;
},
{
over = -28;
},
{
over = -28;
pos = -432;
},
{
over = -16;
},
{
pos = 760;
},
{
pos = 540;
}
);
name = Black;
userData = {
GSOffsetHorizontal = 106;
GSOffsetVertical = 0;
};
}
);
instances = (
{
axesValues = (
400
);
customParameters = (
{
name = panose;
value = (
2,
11,
5,
4,
0,
0,
0,
0,
0,
0
);
}
);
instanceInterpolations = {
m01 = 1;
};
name = Regular;
},
{
axesValues = (
500
);
customParameters = (
{
name = panose;
value = (
2,
11,
6,
4,
0,
0,
0,
0,
0,
0
);
}
);
instanceInterpolations = {
"94F54C43-8AEE-4ED6-B3C2-2A9D33534E61" = 0.2;
m01 = 0.8;
};
name = Medium;
weightClass = 500;
},
{
axesValues = (
600
);
customParameters = (
{
name = panose;
value = (
2,
11,
7,
4,
0,
0,
0,
0,
0,
0
);
}
);
instanceInterpolations = {
"94F54C43-8AEE-4ED6-B3C2-2A9D33534E61" = 0.4;
m01 = 0.6;
};
name = SemiBold;
weightClass = 600;
},
{
axesValues = (
700
);
customParameters = (
{
name = panose;
value = (
2,
11,
8,
4,
0,
0,
0,
0,
0,
0
);
}
);
instanceInterpolations = {
"94F54C43-8AEE-4ED6-B3C2-2A9D33534E61" = 0.6;
m01 = 0.4;
};
isBold = 1;
name = Bold;
weightClass = 700;
},
{
axesValues = (
800
);
customParameters = (
{
name = panose;
value = (
2,
11,
9,
4,
0,
0,
0,
0,
0,
0
);
}
);
instanceInterpolations = {
"94F54C43-8AEE-4ED6-B3C2-2A9D33534E61" = 0.8;
m01 = 0.2;
};
name = ExtraBold;
weightClass = 800;
},
{
axesValues = (
900
);
customParameters = (
{
name = panose;
value = (
2,
11,
10,
4,
0,
0,
0,
0,
0,
0
);
}
);
instanceInterpolations = {
"94F54C43-8AEE-4ED6-B3C2-2A9D33534E61" = 1;
};
name = Black;
weightClass = 900;
},
{
customParameters = (
{
name = panose;
value = (
2,
11,
0,
4,
0,
0,
0,
0,
0,
0
);
},
{
name = "Variable Font Origin";
value = m01;
}
);
name = Regular;
type = variable;
}
);
kerningLTR = {
m01 = {
"@MMK_L_A" = {
"@MMK_R_J" = -32;
"@MMK_R_O" = -64;
"@MMK_R_T" = -128;
"@MMK_R_U" = -40;
"@MMK_R_V" = -168;
"@MMK_R_backslash" = -112;
"@MMK_R_emdash" = -48;
"@MMK_R_emdash.case" = -80;
"@MMK_R_f" = -88;
"@MMK_R_five" = -32;
"@MMK_R_hyphen" = -72;
"@MMK_R_hyphen.case" = -104;
"@MMK_R_nine" = -32;
"@MMK_R_nine.cv11" = -88;
"@MMK_R_o" = -48;
"@MMK_R_one" = -96;
"@MMK_R_parenright" = -64;
"@MMK_R_periodcentered" = -64;
"@MMK_R_qouteright" = -160;
"@MMK_R_question" = -128;
"@MMK_R_quoteleft" = -160;
"@MMK_R_quotesingle" = -128;
"@MMK_R_seven" = -64;
"@MMK_R_six.cv11" = -32;
"@MMK_R_u" = -32;
"@MMK_R_v" = -96;
};
"@MMK_L_B" = {
"@MMK_R_A" = -32;
"@MMK_R_V" = -56;
"@MMK_R_X" = -40;
"@MMK_R_emdash" = 24;
"@MMK_R_f" = -16;
"@MMK_R_parenright" = -32;
"@MMK_R_parenright.case" = -32;
"@MMK_R_period" = -16;
"@MMK_R_qouteright" = -64;
"@MMK_R_slash" = -80;
"@MMK_R_v" = -16;
"@MMK_R_x" = -16;
};
"@MMK_L_C" = {
"@MMK_R_o" = -16;
"@MMK_R_slash" = -32;
};
"@MMK_L_E" = {
"@MMK_R_J" = -32;
"@MMK_R_O" = -24;
"@MMK_R_S" = -32;
"@MMK_R_o" = -16;
"@MMK_R_v" = -16;
};
"@MMK_L_F" = {
"@MMK_R_A" = -96;
"@MMK_R_J" = -128;
"@MMK_R_O" = -24;
"@MMK_R_S" = -24;
"@MMK_R_backslash" = 32;
"@MMK_R_g" = -24;
"@MMK_R_hyphen" = -40;
"@MMK_R_hyphen.case" = -16;
"@MMK_R_n" = -32;
"@MMK_R_o" = -48;
"@MMK_R_period" = -160;
"@MMK_R_s" = -48;
"@MMK_R_six.cv11" = -40;
"@MMK_R_slash" = -160;
"@MMK_R_u" = -40;
"@MMK_R_v" = -48;
"@MMK_R_x" = -48;
"@MMK_R_z" = -24;
};
"@MMK_L_H" = {
"@MMK_R_slash" = -64;
};
"@MMK_L_I" = {
"@MMK_R_slash" = -48;
};
"@MMK_L_L" = {
"@MMK_R_J" = -24;
"@MMK_R_O" = -104;
"@MMK_R_S" = -48;
"@MMK_R_T" = -280;
"@MMK_R_U" = -72;
"@MMK_R_V" = -144;
"@MMK_R_backslash" = -168;
"@MMK_R_eight" = -32;
"@MMK_R_f" = -112;
"@MMK_R_five" = -80;
"@MMK_R_four" = -72;
"@MMK_R_g" = -48;
"@MMK_R_hyphen" = -80;
"@MMK_R_hyphen.case" = -80;
"@MMK_R_nine" = -120;
"@MMK_R_nine.cv11" = -152;
"@MMK_R_numbersign" = -32;
"@MMK_R_o" = -56;
"@MMK_R_one" = -160;
"@MMK_R_parenright" = -64;
"@MMK_R_qouteright" = -248;
"@MMK_R_question" = -168;
"@MMK_R_quotesingle" = -176;
"@MMK_R_seven" = -176;
"@MMK_R_three" = -40;
"@MMK_R_u" = -64;
"@MMK_R_v" = -144;
};
"@MMK_L_O" = {
"@MMK_R_A" = -64;
"@MMK_R_J" = -24;
"@MMK_R_T" = -64;
"@MMK_R_V" = -48;
"@MMK_R_X" = -64;
"@MMK_R_Z" = -24;
"@MMK_R_emdash" = 24;
"@MMK_R_emdash.case" = 24;
"@MMK_R_parenright" = -48;
"@MMK_R_parenright.case" = -48;
"@MMK_R_period" = -104;
"@MMK_R_quotesingle" = -16;
"@MMK_R_seven" = -72;
"@MMK_R_slash" = -80;
};
"@MMK_L_P" = {
"@MMK_R_A" = -152;
"@MMK_R_J" = -144;
"@MMK_R_T" = -24;
"@MMK_R_V" = -16;
"@MMK_R_X" = -48;
"@MMK_R_Z" = -16;
"@MMK_R_emdash" = -64;
"@MMK_R_four" = -80;
"@MMK_R_g" = -32;
"@MMK_R_hyphen" = -88;
"@MMK_R_o" = -56;
"@MMK_R_parenright" = -32;
"@MMK_R_parenright.case" = -32;
"@MMK_R_period" = -160;
"@MMK_R_s" = -56;
"@MMK_R_slash" = -152;
"@MMK_R_three" = -80;
"@MMK_R_u" = -16;
};
"@MMK_L_Q" = {
"@MMK_R_J" = -32;
"@MMK_R_O" = -16;
"@MMK_R_S" = -48;
"@MMK_R_T" = -128;
"@MMK_R_U" = -56;
"@MMK_R_V" = -144;
"@MMK_R_eight" = -24;
"@MMK_R_emdash" = -64;
"@MMK_R_emdash.case" = -64;
"@MMK_R_f" = -32;
"@MMK_R_five" = -32;
"@MMK_R_four" = -32;
"@MMK_R_g" = -32;
"@MMK_R_hyphen" = -72;
"@MMK_R_hyphen.case" = -72;
"@MMK_R_nine" = -64;
"@MMK_R_nine.cv11" = -80;
"@MMK_R_o" = -48;
"@MMK_R_one" = -64;
"@MMK_R_parenright" = -80;
"@MMK_R_parenright.case" = -80;
"@MMK_R_periodcentered" = -40;
"@MMK_R_qouteright" = -88;
"@MMK_R_question" = -80;
"@MMK_R_quotesingle" = -80;
"@MMK_R_s" = -32;
"@MMK_R_seven" = -72;
"@MMK_R_six.cv11" = -16;
"@MMK_R_three" = -32;
"@MMK_R_u" = -64;
"@MMK_R_v" = -80;
"@MMK_R_x" = -24;
};
"@MMK_L_R" = {
"@MMK_R_H" = 56;
"@MMK_R_J" = -16;
"@MMK_R_O" = -16;
"@MMK_R_S" = -16;
"@MMK_R_T" = -24;
"@MMK_R_V" = -16;
"@MMK_R_eight" = -24;
"@MMK_R_emdash" = -64;
"@MMK_R_five" = -16;
"@MMK_R_four" = -24;
"@MMK_R_hyphen" = -56;
"@MMK_R_o" = -16;
"@MMK_R_qouteright" = 24;
"@MMK_R_seven" = -48;
"@MMK_R_six.cv11" = -24;
"@MMK_R_three" = -40;
};
"@MMK_L_S" = {
"@MMK_R_T" = -32;
"@MMK_R_V" = -32;
"@MMK_R_colon" = -32;
"@MMK_R_emdash" = 24;
"@MMK_R_emdash.case" = 24;
"@MMK_R_f" = -32;
"@MMK_R_qouteright" = -32;
"@MMK_R_seven" = -16;
"@MMK_R_slash" = -80;
};
"@MMK_L_T" = {
"@MMK_R_A" = -128;
"@MMK_R_J" = -184;
"@MMK_R_O" = -80;
"@MMK_R_S" = -32;
"@MMK_R_colon" = -152;
"@MMK_R_eight" = -64;
"@MMK_R_emdash" = -192;
"@MMK_R_emdash.case" = -112;
"@MMK_R_f" = -120;
"@MMK_R_four" = -96;
"@MMK_R_g" = -200;
"@MMK_R_hyphen" = -192;
"@MMK_R_hyphen.case" = -192;
"@MMK_R_jdotless" = -184;
"@MMK_R_n" = -200;
"@MMK_R_nine" = -24;
"@MMK_R_nine.cv11" = -24;
"@MMK_R_o" = -200;
"@MMK_R_period" = -208;
"@MMK_R_periodcentered" = -208;
"@MMK_R_s" = -184;
"@MMK_R_six.cv11" = -72;
"@MMK_R_slash" = -232;
"@MMK_R_u" = -184;
"@MMK_R_v" = -144;
"@MMK_R_x" = -144;
"@MMK_R_z" = -144;
};
"@MMK_L_U" = {
"@MMK_R_A" = -40;
"@MMK_R_J" = -24;
"@MMK_R_period" = -56;
"@MMK_R_slash" = -96;
};
"@MMK_L_V" = {
"@MMK_R_A" = -168;
"@MMK_R_J" = -160;
"@MMK_R_O" = -56;
"@MMK_R_S" = -24;
"@MMK_R_backslash" = 48;
"@MMK_R_colon" = -72;
"@MMK_R_colon.case" = -24;
"@MMK_R_eight" = -48;
"@MMK_R_emdash" = -64;
"@MMK_R_emdash.case" = -64;
"@MMK_R_f" = -32;
"@MMK_R_five" = -40;
"@MMK_R_four" = -112;
"@MMK_R_g" = -80;
"@MMK_R_hyphen" = -160;
"@MMK_R_hyphen.case" = -104;
"@MMK_R_jdotless" = -84;
"@MMK_R_n" = -80;
"@MMK_R_nine" = -16;
"@MMK_R_nine.cv11" = -16;
"@MMK_R_o" = -120;
"@MMK_R_period" = -208;
"@MMK_R_periodcentered" = -144;
"@MMK_R_qouteright" = -16;
"@MMK_R_s" = -88;
"@MMK_R_six.cv11" = -104;
"@MMK_R_slash" = -232;
"@MMK_R_u" = -88;
"@MMK_R_v" = -16;
"@MMK_R_x" = -16;
"@MMK_R_z" = -40;
};
"@MMK_L_X" = {
"@MMK_R_J" = -32;
"@MMK_R_O" = -56;
"@MMK_R_backslash" = 48;
"@MMK_R_colon.case" = -24;
"@MMK_R_eight" = -16;
"@MMK_R_emdash" = -48;
"@MMK_R_emdash.case" = -80;
"@MMK_R_f" = -64;
"@MMK_R_five" = -32;
"@MMK_R_four" = -24;
"@MMK_R_hyphen" = -80;
"@MMK_R_hyphen.case" = -128;
"@MMK_R_nine" = -24;
"@MMK_R_nine.cv11" = -24;
"@MMK_R_o" = -48;
"@MMK_R_periodcentered" = -96;
"@MMK_R_qouteright" = -24;
"@MMK_R_question" = -32;
"@MMK_R_s" = -8;
"@MMK_R_six.cv11" = -72;
"@MMK_R_slash" = -24;
"@MMK_R_u" = -32;
"@MMK_R_v" = -48;
};
"@MMK_L_Z" = {
"@MMK_R_J" = -24;
"@MMK_R_O" = -24;
"@MMK_R_f" = -32;
"@MMK_R_four" = -64;
"@MMK_R_o" = -40;
"@MMK_R_s" = -24;
"@MMK_R_six.cv11" = -32;
"@MMK_R_slash" = -72;
"@MMK_R_u" = -24;
"@MMK_R_v" = -16;
};
"@MMK_L_a" = {
"@MMK_R_T" = -200;
"@MMK_R_V" = -88;
"@MMK_R_seven" = -80;
};
"@MMK_L_backslash" = {
"@MMK_R_H" = -64;
"@MMK_R_J" = -88;
"@MMK_R_O" = -80;
"@MMK_R_T" = -232;
"@MMK_R_U" = -96;
"@MMK_R_V" = -232;
"@MMK_R_X" = -24;
"@MMK_R_Z" = -72;
"@MMK_R_eight" = -40;
"@MMK_R_f" = -144;
"@MMK_R_five" = -32;
"@MMK_R_four" = -48;
"@MMK_R_g" = 80;
"@MMK_R_hyphen.case" = -80;
"@MMK_R_j" = 160;
"@MMK_R_jdotless" = 160;
"@MMK_R_l" = -40;
"@MMK_R_nine" = -48;
"@MMK_R_nine.cv11" = -96;
"@MMK_R_numbersign" = -104;
"@MMK_R_o" = -32;
"@MMK_R_one" = -112;
"@MMK_R_qouteright" = -224;
"@MMK_R_question" = -136;
"@MMK_R_questiondown" = 48;
"@MMK_R_quotesingle" = -288;
"@MMK_R_seven" = -128;
"@MMK_R_three" = -48;
"@MMK_R_underscore" = 160;
"@MMK_R_v" = -128;
};
"@MMK_L_c" = {
"@MMK_R_S" = -24;
"@MMK_R_T" = -152;
"@MMK_R_V" = -104;
"@MMK_R_X" = -8;
"@MMK_R_emdash" = -32;
"@MMK_R_hyphen" = -40;
"@MMK_R_parenright" = -16;
"@MMK_R_qouteright" = -16;
"@MMK_R_question" = -24;
"@MMK_R_seven" = -48;
};
"@MMK_L_colon" = {
"@MMK_R_S" = -32;
"@MMK_R_T" = -152;
"@MMK_R_V" = -72;
"@MMK_R_eight" = -16;
"@MMK_R_g" = -16;
"@MMK_R_jdotless" = -24;
"@MMK_R_o" = -16;
"@MMK_R_seven" = -72;
"@MMK_R_three" = -48;
};
"@MMK_L_colon.case" = {
"@MMK_R_V" = -24;
"@MMK_R_X" = -24;
};
"@MMK_L_eight" = {
"@MMK_R_T" = -64;
"@MMK_R_V" = -48;
"@MMK_R_X" = -24;
"@MMK_R_colon" = -16;
"@MMK_R_f" = -24;
"@MMK_R_parenright" = -32;
"@MMK_R_parenright.case" = -32;
"@MMK_R_period" = -80;
"@MMK_R_qouteright" = -56;
"@MMK_R_quotesingle" = -32;
"@MMK_R_slash" = -40;
};
"@MMK_L_emdash" = {
"@MMK_R_A" = -48;
"@MMK_R_O" = 24;
"@MMK_R_S" = -32;
"@MMK_R_T" = -192;
"@MMK_R_V" = -64;
"@MMK_R_X" = -48;
"@MMK_R_g" = 24;
"@MMK_R_nine" = -80;
"@MMK_R_nine.cv11" = -64;
"@MMK_R_numbersign" = 104;
"@MMK_R_o" = 24;
"@MMK_R_one" = -80;
"@MMK_R_s" = 24;
"@MMK_R_seven" = -80;
"@MMK_R_six.cv11" = 8;
"@MMK_R_three" = -48;
"@MMK_R_two" = -48;
"@MMK_R_v" = -56;
"@MMK_R_x" = -56;
};
"@MMK_L_emdash.case" = {
"@MMK_R_A" = -80;
"@MMK_R_O" = 24;
"@MMK_R_S" = -32;
"@MMK_R_T" = -112;
"@MMK_R_V" = -64;
"@MMK_R_X" = -80;
"@MMK_R_g" = 24;
"@MMK_R_nine.cv11" = -16;
"@MMK_R_o" = 24;
"@MMK_R_seven" = -80;
"@MMK_R_six.cv11" = 24;
};
"@MMK_L_f" = {
"@MMK_R_A" = -88;
"@MMK_R_J" = -56;
"@MMK_R_backslash" = 80;
"@MMK_R_emdash" = -56;
"@MMK_R_g" = -40;
"@MMK_R_hyphen" = -64;
"@MMK_R_o" = -56;
"@MMK_R_period" = -160;
"@MMK_R_periodcentered" = -80;
"@MMK_R_s" = -32;
"@MMK_R_slash" = -96;
"@MMK_R_underscore" = -160;
};
"@MMK_L_five" = {
"@MMK_R_A" = -32;
"@MMK_R_V" = -72;
"@MMK_R_X" = -72;
"@MMK_R_emdash" = 24;
"@MMK_R_f" = -48;
"@MMK_R_parenright" = -16;
"@MMK_R_parenright.case" = -24;
"@MMK_R_period" = -104;
"@MMK_R_qouteright" = -80;
"@MMK_R_slash" = -32;
"@MMK_R_v" = -24;
"@MMK_R_x" = -24;
};
"@MMK_L_four" = {
"@MMK_R_V" = -112;
"@MMK_R_X" = -24;
"@MMK_R_backslash" = -48;
"@MMK_R_emdash" = 24;
"@MMK_R_f" = -16;
"@MMK_R_parenright" = -56;
"@MMK_R_parenright.case" = -40;
"@MMK_R_qouteright" = -120;
"@MMK_R_quotesingle" = -88;
"@MMK_R_slash" = -48;
"@MMK_R_v" = -48;
"@MMK_R_x" = -24;
};
"@MMK_L_g" = {
"@MMK_R_T" = -200;
"@MMK_R_V" = -80;
"@MMK_R_seven" = -64;
};
"@MMK_L_hyphen" = {
"@MMK_R_A" = -72;
"@MMK_R_S" = -72;
"@MMK_R_T" = -192;
"@MMK_R_V" = -160;
"@MMK_R_X" = -80;
"@MMK_R_f" = -16;
"@MMK_R_one" = -96;
"@MMK_R_parenright" = -80;
"@MMK_R_question" = -144;
"@MMK_R_questiondown" = -144;
"@MMK_R_seven" = -96;
"@MMK_R_two" = 0;
"@MMK_R_u" = -24;
"@MMK_R_v" = -32;
"@MMK_R_x" = -88;
};
"@MMK_L_hyphen.case" = {
"@MMK_R_A" = -104;
"@MMK_R_J" = -80;
"@MMK_R_S" = -24;
"@MMK_R_T" = -192;
"@MMK_R_V" = -104;
"@MMK_R_X" = -128;
"@MMK_R_one" = -48;
"@MMK_R_parenright" = -64;
"@MMK_R_parenright.case" = -80;
"@MMK_R_question" = -96;
"@MMK_R_questiondown" = -144;
"@MMK_R_seven" = -96;
"@MMK_R_slash" = -80;
"@MMK_R_u" = -24;
"@MMK_R_x" = -48;
};
"@MMK_L_j" = {
"@MMK_R_j" = 24;
"@MMK_R_jdotless" = 24;
};
"@MMK_L_l" = {
"@MMK_R_slash" = -40;
};
"@MMK_L_n" = {
"@MMK_R_T" = -200;
"@MMK_R_V" = -112;
"@MMK_R_backslash" = -40;
"@MMK_R_f" = -24;
"@MMK_R_parenright" = -32;
"@MMK_R_parenright.case" = -16;
"@MMK_R_qouteright" = -64;
"@MMK_R_question" = -64;
"@MMK_R_quotesingle" = -32;
"@MMK_R_s" = -16;
"@MMK_R_seven" = -80;
"@MMK_R_slash" = -24;
"@MMK_R_v" = -40;
};
"@MMK_L_nine.cv11" = {
"@MMK_R_A" = -112;
"@MMK_R_J" = -72;
"@MMK_R_T" = -48;
"@MMK_R_V" = -16;
"@MMK_R_X" = -48;
"@MMK_R_emdash" = 8;
"@MMK_R_emdash.case" = 24;
"@MMK_R_parenright" = -48;
"@MMK_R_parenright.case" = -48;
"@MMK_R_period" = -144;
"@MMK_R_slash" = -152;
};
"@MMK_L_numbersign" = {
"@MMK_R_A" = -112;
"@MMK_R_J" = -72;
"@MMK_R_hyphen" = -96;
"@MMK_R_period" = -128;
"@MMK_R_periodcentered" = -80;
"@MMK_R_questiondown" = -184;
"@MMK_R_slash" = -104;
"@MMK_R_underscore" = -248;
};
"@MMK_L_o" = {
"@MMK_R_A" = -48;
"@MMK_R_S" = -24;
"@MMK_R_T" = -184;
"@MMK_R_V" = -120;
"@MMK_R_X" = -48;
"@MMK_R_Z" = -16;
"@MMK_R_backslash" = -32;
"@MMK_R_colon" = -16;
"@MMK_R_emdash" = 24;
"@MMK_R_emdash.case" = 24;
"@MMK_R_f" = -32;
"@MMK_R_one" = -96;
"@MMK_R_parenright" = -48;
"@MMK_R_parenright.case" = -24;
"@MMK_R_period" = -56;
"@MMK_R_qouteright" = -48;
"@MMK_R_question" = -80;
"@MMK_R_quotesingle" = -40;
"@MMK_R_s" = -8;
"@MMK_R_seven" = -112;
"@MMK_R_slash" = -32;
"@MMK_R_three" = -24;
"@MMK_R_v" = -32;
"@MMK_R_x" = -48;
"@MMK_R_z" = -16;
};
"@MMK_L_one" = {
"@MMK_R_qouteright" = -96;
};
"@MMK_L_parenleft" = {
"@MMK_R_A" = -64;
"@MMK_R_J" = -72;
"@MMK_R_O" = -48;
"@MMK_R_S" = -64;
"@MMK_R_eight" = -32;
"@MMK_R_f" = -8;
"@MMK_R_five" = -32;
"@MMK_R_four" = -72;
"@MMK_R_hyphen" = -80;
"@MMK_R_hyphen.case" = -64;
"@MMK_R_j" = 80;
"@MMK_R_jdotless" = 80;
"@MMK_R_nine" = -24;
"@MMK_R_nine.cv11" = -40;
"@MMK_R_o" = -48;
"@MMK_R_quoteleft" = -56;
"@MMK_R_s" = -16;
"@MMK_R_six.cv11" = -48;
"@MMK_R_three" = -32;
"@MMK_R_two" = -32;
"@MMK_R_u" = -24;
"@MMK_R_v" = -16;
"@MMK_R_x" = -32;
};
"@MMK_L_parenleft.case" = {
"@MMK_R_J" = -32;
"@MMK_R_O" = -48;
"@MMK_R_S" = -32;
"@MMK_R_eight" = -32;
"@MMK_R_f" = -24;
"@MMK_R_five" = -48;
"@MMK_R_four" = -56;
"@MMK_R_hyphen.case" = -80;
"@MMK_R_j" = 80;
"@MMK_R_jdotless" = 80;
"@MMK_R_nine" = -40;
"@MMK_R_nine.cv11" = -24;
"@MMK_R_o" = -24;
"@MMK_R_quoteleft" = -48;
"@MMK_R_s" = -32;
"@MMK_R_six.cv11" = -48;
"@MMK_R_three" = -32;
"@MMK_R_u" = -24;
"@MMK_R_v" = -32;
};
"@MMK_L_period" = {
"@MMK_R_J" = -16;
"@MMK_R_O" = -104;
"@MMK_R_T" = -208;
"@MMK_R_U" = -56;
"@MMK_R_V" = -208;
"@MMK_R_backslash" = -152;
"@MMK_R_eight" = -80;
"@MMK_R_f" = -112;
"@MMK_R_five" = -72;
"@MMK_R_four" = -32;
"@MMK_R_j" = -16;
"@MMK_R_jdotless" = -16;
"@MMK_R_nine" = -64;
"@MMK_R_nine.cv11" = -120;
"@MMK_R_o" = -56;
"@MMK_R_one" = -120;
"@MMK_R_qouteright" = -112;
"@MMK_R_question" = -80;
"@MMK_R_seven" = -144;
"@MMK_R_six.cv11" = -104;
"@MMK_R_u" = -64;
"@MMK_R_v" = -160;
};
"@MMK_L_periodcentered" = {
"@MMK_R_A" = -64;
"@MMK_R_T" = -208;
"@MMK_R_V" = -144;
"@MMK_R_X" = -96;
"@MMK_R_f" = -32;
"@MMK_R_nine" = -40;
"@MMK_R_one" = -96;
"@MMK_R_question" = -80;
"@MMK_R_questiondown" = -80;
"@MMK_R_seven" = -144;
"@MMK_R_three" = -48;
"@MMK_R_v" = -40;
"@MMK_R_x" = -40;
};
"@MMK_L_q" = {
"@MMK_R_j" = 56;
};
"@MMK_L_qouteright" = {
"@MMK_R_colon" = -88;
"@MMK_R_period" = -208;
};
"@MMK_L_question" = {
"@MMK_R_A" = -128;
"@MMK_R_J" = -120;
"@MMK_R_backslash" = 48;
"@MMK_R_g" = -48;
"@MMK_R_hyphen" = -80;
"@MMK_R_hyphen.case" = -32;
"@MMK_R_o" = -48;
"@MMK_R_period" = -80;
"@MMK_R_periodcentered" = -32;
"@MMK_R_questiondown" = -104;
"@MMK_R_s" = -24;
"@MMK_R_slash" = -168;
"@MMK_R_underscore" = -80;
};
"@MMK_L_questiondown" = {
"@MMK_R_backslash" = -168;
"@MMK_R_hyphen" = -80;
"@MMK_R_hyphen.case" = -112;
"@MMK_R_periodcentered" = -32;
"@MMK_R_question" = -104;
"@MMK_R_quotesingle" = -80;
"@MMK_R_slash" = 48;
};
"@MMK_L_quoteleft" = {
"@MMK_R_A" = -160;
"@MMK_R_J" = -272;
"@MMK_R_O" = -80;
"@MMK_R_S" = -64;
"@MMK_R_backslash" = 64;
"@MMK_R_colon" = -64;
"@MMK_R_eight" = -96;
"@MMK_R_emdash" = -96;
"@MMK_R_f" = -48;
"@MMK_R_five" = -88;
"@MMK_R_four" = -144;
"@MMK_R_g" = -136;
"@MMK_R_hyphen" = -96;
"@MMK_R_hyphen.case" = -56;
"@MMK_R_j" = -48;
"@MMK_R_jdotless" = -112;
"@MMK_R_n" = -64;
"@MMK_R_nine" = -64;
"@MMK_R_nine.cv11" = -64;
"@MMK_R_o" = -144;
"@MMK_R_one" = -48;
"@MMK_R_p" = -64;
"@MMK_R_period" = -200;
"@MMK_R_periodcentered" = -80;
"@MMK_R_s" = -112;
"@MMK_R_six.cv11" = -160;
"@MMK_R_slash" = -304;
"@MMK_R_three" = -72;
"@MMK_R_two" = -56;
"@MMK_R_u" = -56;
"@MMK_R_v" = -64;
"@MMK_R_x" = -56;
"@MMK_R_z" = -64;
};
"@MMK_L_quotesingle" = {
"@MMK_R_A" = -128;
"@MMK_R_J" = -120;
"@MMK_R_O" = -16;
"@MMK_R_eight" = -32;
"@MMK_R_four" = -48;
"@MMK_R_g" = -40;
"@MMK_R_numbersign" = -80;
"@MMK_R_o" = -40;
"@MMK_R_questiondown" = -80;
"@MMK_R_six.cv11" = -32;
"@MMK_R_slash" = -288;
};
"@MMK_L_r" = {
"@MMK_R_A" = -88;
"@MMK_R_J" = -120;
"@MMK_R_T" = -200;
"@MMK_R_V" = -32;
"@MMK_R_X" = -32;
"@MMK_R_Z" = -16;
"@MMK_R_emdash" = -48;
"@MMK_R_f" = 16;
"@MMK_R_five" = -24;
"@MMK_R_four" = -32;
"@MMK_R_g" = -16;
"@MMK_R_hyphen" = -80;
"@MMK_R_o" = -56;
"@MMK_R_period" = -208;
"@MMK_R_s" = -32;
"@MMK_R_seven" = -64;
"@MMK_R_six.cv11" = -24;
"@MMK_R_slash" = -104;
"@MMK_R_three" = -80;
"@MMK_R_two" = -48;
"@MMK_R_v" = 24;
};
"@MMK_L_s" = {
"@MMK_R_S" = -16;
"@MMK_R_T" = -184;
"@MMK_R_V" = -88;
"@MMK_R_X" = -8;
"@MMK_R_Z" = -8;
"@MMK_R_emdash" = 24;
"@MMK_R_f" = -32;
"@MMK_R_parenright" = -16;
"@MMK_R_qouteright" = -48;
"@MMK_R_question" = -80;
"@MMK_R_seven" = -72;
"@MMK_R_v" = -24;
"@MMK_R_x" = -24;
};
"@MMK_L_seven" = {
"@MMK_R_A" = -104;
"@MMK_R_J" = -156;
"@MMK_R_O" = -40;
"@MMK_R_backslash" = 32;
"@MMK_R_colon" = -48;
"@MMK_R_emdash" = -80;
"@MMK_R_emdash.case" = -80;
"@MMK_R_f" = -32;
"@MMK_R_g" = -48;
"@MMK_R_hyphen" = -48;
"@MMK_R_hyphen.case" = -48;
"@MMK_R_n" = -16;
"@MMK_R_o" = -80;
"@MMK_R_period" = -192;
"@MMK_R_periodcentered" = -88;
"@MMK_R_s" = -48;
"@MMK_R_slash" = -168;
"@MMK_R_z" = -32;
six = 0;
zero = 0;
};
"@MMK_L_six" = {
"@MMK_R_A" = -48;
"@MMK_R_T" = -32;
"@MMK_R_V" = -24;
"@MMK_R_X" = -24;
"@MMK_R_f" = -32;
"@MMK_R_parenright" = -24;
"@MMK_R_period" = -56;
"@MMK_R_qouteright" = -72;
"@MMK_R_slash" = -80;
"@MMK_R_v" = -16;
"@MMK_R_x" = -24;
};
"@MMK_L_six.cv11" = {
"@MMK_R_A" = -32;
"@MMK_R_T" = -96;
"@MMK_R_V" = -160;
"@MMK_R_X" = -72;
"@MMK_R_Z" = -24;
"@MMK_R_emdash" = 8;
"@MMK_R_emdash.case" = -16;
"@MMK_R_f" = -32;
"@MMK_R_parenright" = -40;
"@MMK_R_parenright.case" = -24;
"@MMK_R_period" = -104;
"@MMK_R_qouteright" = -96;
"@MMK_R_quotesingle" = -48;
"@MMK_R_slash" = -80;
"@MMK_R_v" = -48;
"@MMK_R_x" = -24;
};
"@MMK_L_slash" = {
"@MMK_R_A" = -112;
"@MMK_R_J" = -48;
"@MMK_R_V" = 48;
"@MMK_R_X" = 48;
"@MMK_R_four" = -48;
"@MMK_R_o" = -32;
"@MMK_R_period" = -152;
"@MMK_R_questiondown" = -168;
"@MMK_R_underscore" = -160;
};
"@MMK_L_t" = {
"@MMK_R_O" = 0;
"@MMK_R_T" = -120;
"@MMK_R_V" = -32;
"@MMK_R_o" = -24;
"@MMK_R_seven" = -24;
};
"@MMK_L_t.cv02" = {
"@MMK_R_A" = -112;
"@MMK_R_J" = -80;
"@MMK_R_O" = -24;
"@MMK_R_S" = -32;
"@MMK_R_T" = -144;
"@MMK_R_U" = -24;
"@MMK_R_V" = -56;
"@MMK_R_X" = -88;
"@MMK_R_Z" = -32;
"@MMK_R_eight" = -24;
"@MMK_R_emdash" = -64;
"@MMK_R_five" = -32;
"@MMK_R_four" = -48;
"@MMK_R_g" = -48;
"@MMK_R_hyphen" = -80;
"@MMK_R_o" = -56;
"@MMK_R_parenright" = -40;
"@MMK_R_period" = -136;
"@MMK_R_periodcentered" = -32;
"@MMK_R_s" = -40;
"@MMK_R_seven" = -64;
"@MMK_R_slash" = -136;
"@MMK_R_three" = -64;
"@MMK_R_two" = -32;
"@MMK_R_underscore" = -80;
};
"@MMK_L_three" = {
"@MMK_R_X" = -16;
"@MMK_R_colon" = -40;
"@MMK_R_f" = -24;
"@MMK_R_period" = -80;
"@MMK_R_qouteright" = -48;
"@MMK_R_slash" = -64;
};
"@MMK_L_two" = {
"@MMK_R_J" = -32;
"@MMK_R_V" = -32;
"@MMK_R_o" = -24;
"@MMK_R_parenright" = -32;
"@MMK_R_qouteright" = -24;
};
"@MMK_L_u.cv04" = {
"@MMK_R_A" = -32;
"@MMK_R_S" = -16;
"@MMK_R_T" = -184;
"@MMK_R_V" = -88;
"@MMK_R_X" = -32;
"@MMK_R_Z" = -24;
"@MMK_R_hyphen" = -24;
"@MMK_R_hyphen.case" = -24;
"@MMK_R_period" = -64;
"@MMK_R_seven" = -32;
};
"@MMK_L_underscore" = {
"@MMK_R_backslash" = -160;
"@MMK_R_f" = -80;
"@MMK_R_question" = -80;
"@MMK_R_slash" = 160;
};
"@MMK_L_v" = {
"@MMK_R_A" = -96;
"@MMK_R_J" = -72;
"@MMK_R_T" = -144;
"@MMK_R_V" = -16;
"@MMK_R_X" = -48;
"@MMK_R_Z" = -16;
"@MMK_R_emdash" = -56;
"@MMK_R_four" = -48;
"@MMK_R_g" = -24;
"@MMK_R_hyphen" = -32;
"@MMK_R_o" = -32;
"@MMK_R_parenright" = -16;
"@MMK_R_parenright.case" = -32;
"@MMK_R_period" = -160;
"@MMK_R_periodcentered" = -40;
"@MMK_R_s" = -8;
"@MMK_R_seven" = -64;
"@MMK_R_six.cv11" = -24;
"@MMK_R_slash" = -128;
"@MMK_R_three" = -32;
};
"@MMK_L_x" = {
"@MMK_R_J" = -40;
"@MMK_R_T" = -144;
"@MMK_R_V" = -16;
"@MMK_R_emdash" = -56;
"@MMK_R_f" = 0;
"@MMK_R_four" = -24;
"@MMK_R_g" = -24;
"@MMK_R_hyphen" = -88;
"@MMK_R_hyphen.case" = -48;
"@MMK_R_o" = -56;
"@MMK_R_parenright" = -32;
"@MMK_R_periodcentered" = -40;
"@MMK_R_s" = -24;
"@MMK_R_seven" = -16;
"@MMK_R_six.cv11" = -24;
"@MMK_R_slash" = -40;
};
"@MMK_L_z" = {
"@MMK_R_J" = -24;
"@MMK_R_T" = -144;
"@MMK_R_V" = -40;
"@MMK_R_o" = -24;
"@MMK_R_seven" = -64;
};
G = {
"@MMK_R_qouteright" = -64;
};
nine = {
"@MMK_R_seven" = 0;
};
zero = {
"@MMK_R_seven" = 0;
};
};
"94F54C43-8AEE-4ED6-B3C2-2A9D33534E61" = {
"@MMK_L_A" = {
"@MMK_R_J" = -48;
"@MMK_R_O" = -88;
"@MMK_R_T" = -160;
"@MMK_R_U" = -88;
"@MMK_R_V" = -216;
"@MMK_R_eight" = -32;
"@MMK_R_emdash" = -48;
"@MMK_R_emdash.case" = -80;
"@MMK_R_f" = -88;
"@MMK_R_five" = -32;
"@MMK_R_hyphen" = -80;
"@MMK_R_hyphen.case" = -128;
"@MMK_R_nine" = -32;
"@MMK_R_nine.cv11" = -128;
"@MMK_R_o" = -48;
"@MMK_R_one" = -112;
"@MMK_R_parenright" = -48;
"@MMK_R_periodcentered" = -80;
"@MMK_R_qouteright" = -208;
"@MMK_R_question" = -160;
"@MMK_R_quotesingle" = -176;
"@MMK_R_seven" = -88;
"@MMK_R_six.cv11" = -72;
"@MMK_R_u" = -32;
"@MMK_R_v" = -152;
"@MMK_R_z" = -8;
backslash = -72;
};
"@MMK_L_B" = {
"@MMK_R_A" = -40;
"@MMK_R_S" = -16;
"@MMK_R_V" = -64;
"@MMK_R_X" = -56;
"@MMK_R_emdash" = 24;
"@MMK_R_f" = -16;
"@MMK_R_parenright" = -56;
"@MMK_R_parenright.case" = -56;
"@MMK_R_qouteright" = -64;
"@MMK_R_slash" = -64;
"@MMK_R_v" = -16;
"@MMK_R_x" = -16;
};
"@MMK_L_C" = {
"@MMK_R_A" = -40;
"@MMK_R_V" = -32;
"@MMK_R_X" = -24;
"@MMK_R_emdash.case" = -32;
"@MMK_R_slash" = -32;
};
"@MMK_L_E" = {
"@MMK_R_J" = -8;
"@MMK_R_O" = -24;
"@MMK_R_S" = -32;
"@MMK_R_o" = -8;
"@MMK_R_v" = -16;
};
"@MMK_L_F" = {
"@MMK_R_A" = -128;
"@MMK_R_J" = -104;
"@MMK_R_O" = -32;
"@MMK_R_S" = -24;
"@MMK_R_backslash" = 24;
"@MMK_R_g" = -16;
"@MMK_R_hyphen" = -16;
"@MMK_R_hyphen.case" = -16;
"@MMK_R_n" = -16;
"@MMK_R_o" = -48;
"@MMK_R_period" = -112;
"@MMK_R_s" = -48;
"@MMK_R_slash" = -152;
"@MMK_R_u" = -40;
"@MMK_R_v" = -48;
"@MMK_R_x" = -48;
"@MMK_R_z" = -24;
};
"@MMK_L_H" = {
"@MMK_R_slash" = -40;
};
"@MMK_L_I" = {
"@MMK_R_slash" = -80;
};
"@MMK_L_L" = {
"@MMK_R_O" = -16;
"@MMK_R_S" = -16;
"@MMK_R_T" = -232;
"@MMK_R_U" = -40;
"@MMK_R_V" = -172;
"@MMK_R_backslash" = -144;
"@MMK_R_f" = -112;
"@MMK_R_hyphen.case" = -56;
"@MMK_R_nine" = -80;
"@MMK_R_nine.cv11" = -136;
"@MMK_R_one" = -144;
"@MMK_R_parenright" = -64;
"@MMK_R_qouteright" = -272;
"@MMK_R_question" = -144;
"@MMK_R_quotesingle" = -160;
"@MMK_R_seven" = -136;
"@MMK_R_u" = -32;
"@MMK_R_v" = -176;
};
"@MMK_L_O" = {
"@MMK_R_A" = -88;
"@MMK_R_S" = -8;
"@MMK_R_T" = -16;
"@MMK_R_V" = -72;
"@MMK_R_X" = -80;
"@MMK_R_Z" = -8;
"@MMK_R_emdash" = 24;
"@MMK_R_emdash.case" = 24;
"@MMK_R_parenright" = -48;
"@MMK_R_parenright.case" = -48;
"@MMK_R_period" = -72;
"@MMK_R_quotesingle" = -24;
"@MMK_R_seven" = -40;
"@MMK_R_slash" = -88;
};
"@MMK_L_P" = {
"@MMK_R_A" = -160;
"@MMK_R_J" = -128;
"@MMK_R_T" = -16;
"@MMK_R_V" = -24;
"@MMK_R_X" = -72;
"@MMK_R_f" = 0;
"@MMK_R_four" = -32;
"@MMK_R_hyphen" = -32;
"@MMK_R_o" = -40;
"@MMK_R_parenright" = -40;
"@MMK_R_parenright.case" = -48;
"@MMK_R_period" = -160;
"@MMK_R_slash" = -144;
"@MMK_R_three" = -80;
};
"@MMK_L_Q" = {
"@MMK_R_O" = -32;
"@MMK_R_S" = -32;
"@MMK_R_T" = -96;
"@MMK_R_U" = -40;
"@MMK_R_V" = -144;
"@MMK_R_emdash" = -24;
"@MMK_R_emdash.case" = -24;
"@MMK_R_f" = -16;
"@MMK_R_five" = -8;
"@MMK_R_g" = -16;
"@MMK_R_hyphen" = -48;
"@MMK_R_hyphen.case" = -48;
"@MMK_R_nine" = -48;
"@MMK_R_nine.cv11" = -48;
"@MMK_R_one" = -32;
"@MMK_R_parenright" = -56;
"@MMK_R_parenright.case" = -56;
"@MMK_R_periodcentered" = -24;
"@MMK_R_qouteright" = -48;
"@MMK_R_question" = -56;
"@MMK_R_quotesingle" = -56;
"@MMK_R_seven" = -56;
"@MMK_R_six.cv11" = -32;
"@MMK_R_three" = -16;
"@MMK_R_u" = -48;
"@MMK_R_v" = -72;
"@MMK_R_x" = -16;
};
"@MMK_L_R" = {
"@MMK_R_H" = 16;
"@MMK_R_J" = -32;
"@MMK_R_S" = -16;
"@MMK_R_T" = -16;
"@MMK_R_V" = -64;
"@MMK_R_eight" = -16;
"@MMK_R_emdash" = -40;
"@MMK_R_five" = -24;
"@MMK_R_four" = -48;
"@MMK_R_hyphen" = -48;
"@MMK_R_o" = -24;
"@MMK_R_qouteright" = -16;
"@MMK_R_seven" = -64;
"@MMK_R_six.cv11" = -24;
"@MMK_R_three" = -64;
"@MMK_R_u" = -8;
};
"@MMK_L_S" = {
"@MMK_R_A" = -24;
"@MMK_R_colon" = -24;
"@MMK_R_emdash" = 24;
"@MMK_R_emdash.case" = 24;
"@MMK_R_f" = -32;
"@MMK_R_qouteright" = -32;
"@MMK_R_slash" = -24;
"@MMK_R_v" = -24;
"@MMK_R_x" = -16;
};
"@MMK_L_T" = {
"@MMK_R_A" = -160;
"@MMK_R_J" = -192;
"@MMK_R_O" = -16;
"@MMK_R_S" = -16;
"@MMK_R_colon" = -64;
"@MMK_R_eight" = -16;
"@MMK_R_f" = -32;
"@MMK_R_four" = -64;
"@MMK_R_g" = -192;
"@MMK_R_hyphen" = -224;
"@MMK_R_hyphen.case" = -120;
"@MMK_R_jdotless" = -48;
"@MMK_R_n" = -40;
"@MMK_R_nine" = -16;
"@MMK_R_nine.cv11" = -16;
"@MMK_R_o" = -192;
"@MMK_R_period" = -240;
"@MMK_R_periodcentered" = -240;
"@MMK_R_s" = -112;
"@MMK_R_six.cv11" = -64;
"@MMK_R_slash" = -168;
"@MMK_R_u" = -104;
"@MMK_R_v" = -72;
"@MMK_R_x" = -72;
"@MMK_R_z" = -72;
};
"@MMK_L_U" = {
"@MMK_R_A" = -88;
"@MMK_R_J" = -24;
"@MMK_R_period" = -88;
"@MMK_R_slash" = -96;
};
"@MMK_L_V" = {
"@MMK_R_A" = -216;
"@MMK_R_J" = -184;
"@MMK_R_O" = -80;
"@MMK_R_S" = -32;
"@MMK_R_backslash" = 56;
"@MMK_R_colon" = -80;
"@MMK_R_colon.case" = -48;
"@MMK_R_eight" = -32;
"@MMK_R_emdash" = -80;
"@MMK_R_emdash.case" = -80;
"@MMK_R_f" = -32;
"@MMK_R_five" = -48;
"@MMK_R_four" = -128;
"@MMK_R_g" = -80;
"@MMK_R_hyphen" = -144;
"@MMK_R_hyphen.case" = -96;
"@MMK_R_jdotless" = -108;
"@MMK_R_n" = -96;
"@MMK_R_nine" = -40;
"@MMK_R_nine.cv11" = -48;
"@MMK_R_o" = -144;
"@MMK_R_period" = -240;
"@MMK_R_periodcentered" = -152;
"@MMK_R_qouteright" = -32;
"@MMK_R_s" = -88;
"@MMK_R_six.cv11" = -96;
"@MMK_R_slash" = -224;
"@MMK_R_u" = -96;
"@MMK_R_v" = -32;
"@MMK_R_x" = -32;
"@MMK_R_z" = -80;
};
"@MMK_L_X" = {
"@MMK_R_J" = -40;
"@MMK_R_O" = -88;
"@MMK_R_S" = -8;
"@MMK_R_backslash" = 56;
"@MMK_R_colon.case" = -64;
"@MMK_R_eight" = -40;
"@MMK_R_emdash" = -48;
"@MMK_R_emdash.case" = -80;
"@MMK_R_f" = -48;
"@MMK_R_five" = -32;
"@MMK_R_four" = -32;
"@MMK_R_hyphen" = -72;
"@MMK_R_hyphen.case" = -136;
"@MMK_R_nine" = -24;
"@MMK_R_nine.cv11" = -64;
"@MMK_R_o" = -64;
"@MMK_R_periodcentered" = -104;
"@MMK_R_qouteright" = -80;
"@MMK_R_question" = -48;
"@MMK_R_s" = 16;
"@MMK_R_six.cv11" = -88;
"@MMK_R_slash" = -24;
"@MMK_R_u" = -56;
"@MMK_R_v" = -72;
};
"@MMK_L_Z" = {
"@MMK_R_J" = -24;
"@MMK_R_O" = -16;
"@MMK_R_f" = -32;
"@MMK_R_s" = -24;
"@MMK_R_six.cv11" = -16;
"@MMK_R_u" = -16;
"@MMK_R_v" = -24;
};
"@MMK_L_a" = {
"@MMK_R_T" = -128;
"@MMK_R_V" = -88;
"@MMK_R_seven" = -48;
};
"@MMK_L_backslash" = {
"@MMK_R_H" = -40;
"@MMK_R_J" = -80;
"@MMK_R_O" = -88;
"@MMK_R_T" = -168;
"@MMK_R_U" = -96;
"@MMK_R_V" = -224;
"@MMK_R_X" = -24;
"@MMK_R_eight" = -64;
"@MMK_R_f" = -72;
"@MMK_R_five" = -32;
"@MMK_R_four" = -16;
"@MMK_R_g" = 144;
"@MMK_R_hyphen.case" = -80;
"@MMK_R_j" = 160;
"@MMK_R_jdotless" = 160;
"@MMK_R_l" = -32;
"@MMK_R_nine" = -56;
"@MMK_R_nine.cv11" = -88;
"@MMK_R_numbersign" = -80;
"@MMK_R_one" = -80;
"@MMK_R_qouteright" = -192;
"@MMK_R_question" = -96;
"@MMK_R_quotesingle" = -264;
"@MMK_R_seven" = -160;
"@MMK_R_three" = -64;
"@MMK_R_underscore" = 160;
"@MMK_R_v" = -112;
};
"@MMK_L_c" = {
"@MMK_R_A" = -24;
"@MMK_R_S" = -32;
"@MMK_R_T" = -156;
"@MMK_R_V" = -120;
"@MMK_R_X" = -16;
"@MMK_R_parenright" = -64;
"@MMK_R_qouteright" = -40;
"@MMK_R_question" = -24;
"@MMK_R_seven" = -32;
};
"@MMK_L_colon" = {
"@MMK_R_S" = -24;
"@MMK_R_T" = -64;
"@MMK_R_V" = -80;
"@MMK_R_seven" = -72;
};
"@MMK_L_colon.case" = {
"@MMK_R_V" = -48;
"@MMK_R_X" = -64;
};
"@MMK_L_eight" = {
"@MMK_R_A" = -32;
"@MMK_R_T" = -16;
"@MMK_R_V" = -32;
"@MMK_R_X" = -64;
"@MMK_R_f" = -8;
"@MMK_R_parenright" = -32;
"@MMK_R_parenright.case" = -32;
"@MMK_R_qouteright" = -40;
"@MMK_R_slash" = -64;
};
"@MMK_L_emdash" = {
"@MMK_R_A" = -48;
"@MMK_R_O" = 24;
"@MMK_R_S" = -48;
"@MMK_R_V" = -80;
"@MMK_R_g" = 32;
"@MMK_R_nine" = -40;
"@MMK_R_nine.cv11" = -40;
"@MMK_R_numbersign" = 112;
"@MMK_R_o" = 32;
"@MMK_R_s" = 24;
"@MMK_R_seven" = -80;
"@MMK_R_v" = -48;
"@MMK_R_x" = -48;
};
"@MMK_L_emdash.case" = {
"@MMK_R_A" = -80;
"@MMK_R_O" = 24;
"@MMK_R_S" = -24;
"@MMK_R_V" = -80;
"@MMK_R_X" = -80;
"@MMK_R_g" = 32;
"@MMK_R_n" = 16;
"@MMK_R_o" = 32;
};
"@MMK_L_f" = {
"@MMK_R_A" = -88;
"@MMK_R_J" = -56;
"@MMK_R_backslash" = 80;
"@MMK_R_g" = -24;
"@MMK_R_hyphen" = -40;
"@MMK_R_o" = -24;
"@MMK_R_period" = -144;
"@MMK_R_periodcentered" = -32;
"@MMK_R_slash" = -88;
"@MMK_R_underscore" = -192;
};
"@MMK_L_five" = {
"@MMK_R_A" = -56;
"@MMK_R_V" = -48;
"@MMK_R_X" = -24;
"@MMK_R_parenright" = -24;
"@MMK_R_parenright.case" = -24;
"@MMK_R_period" = -64;
"@MMK_R_qouteright" = -24;
"@MMK_R_slash" = -32;
"@MMK_R_v" = -24;
"@MMK_R_x" = -40;
};
"@MMK_L_four" = {
"@MMK_R_V" = -128;
"@MMK_R_X" = -32;
"@MMK_R_backslash" = -16;
"@MMK_R_emdash" = 32;
"@MMK_R_parenright" = -64;
"@MMK_R_parenright.case" = -32;
"@MMK_R_qouteright" = -136;
"@MMK_R_quotesingle" = -80;
"@MMK_R_slash" = -16;
"@MMK_R_v" = -56;
"@MMK_R_x" = -40;
};
"@MMK_L_g" = {
"@MMK_R_T" = -128;
"@MMK_R_V" = -96;
"@MMK_R_seven" = -40;
};
"@MMK_L_hyphen" = {
"@MMK_R_A" = -80;
"@MMK_R_S" = -64;
"@MMK_R_T" = -224;
"@MMK_R_V" = -144;
"@MMK_R_X" = -72;
"@MMK_R_f" = -32;
"@MMK_R_jdotless" = -24;
"@MMK_R_nine" = -54;
"@MMK_R_one" = -32;
"@MMK_R_parenright" = -80;
"@MMK_R_question" = -184;
"@MMK_R_questiondown" = -184;
"@MMK_R_seven" = -64;
"@MMK_R_three" = -40;
"@MMK_R_u" = -16;
"@MMK_R_v" = -80;
"@MMK_R_x" = -112;
};
"@MMK_L_hyphen.case" = {
"@MMK_R_A" = -128;
"@MMK_R_J" = -64;
"@MMK_R_S" = -16;
"@MMK_R_T" = -120;
"@MMK_R_V" = -96;
"@MMK_R_X" = -136;
"@MMK_R_jdotless" = -24;
"@MMK_R_parenright" = -80;
"@MMK_R_parenright.case" = -80;
"@MMK_R_question" = -32;
"@MMK_R_questiondown" = -184;
"@MMK_R_seven" = -64;
"@MMK_R_slash" = -80;
"@MMK_R_u" = -16;
"@MMK_R_x" = -48;
};
"@MMK_L_j" = {
"@MMK_R_j" = 48;
"@MMK_R_jdotless" = 48;
};
"@MMK_L_l" = {
"@MMK_R_slash" = -32;
};
"@MMK_L_n" = {
"@MMK_R_T" = -128;
"@MMK_R_V" = -152;
"@MMK_R_backslash" = -40;
"@MMK_R_f" = -12;
"@MMK_R_parenright" = -40;
"@MMK_R_parenright.case" = -24;
"@MMK_R_qouteright" = -32;
"@MMK_R_question" = -64;
"@MMK_R_quotesingle" = -40;
"@MMK_R_seven" = -80;
"@MMK_R_slash" = -24;
"@MMK_R_v" = -56;
};
"@MMK_L_nine.cv11" = {
"@MMK_R_A" = -112;
"@MMK_R_J" = -48;
"@MMK_R_S" = -16;
"@MMK_R_T" = -16;
"@MMK_R_V" = -56;
"@MMK_R_X" = -80;
"@MMK_R_parenright" = -48;
"@MMK_R_parenright.case" = -40;
"@MMK_R_period" = -104;
"@MMK_R_slash" = -136;
};
"@MMK_L_numbersign" = {
"@MMK_R_A" = -104;
"@MMK_R_J" = -24;
"@MMK_R_hyphen" = -88;
"@MMK_R_period" = -104;
"@MMK_R_periodcentered" = -64;
"@MMK_R_questiondown" = -176;
"@MMK_R_slash" = -80;
"@MMK_R_underscore" = -240;
};
"@MMK_L_o" = {
"@MMK_R_A" = -48;
"@MMK_R_S" = -32;
"@MMK_R_T" = -168;
"@MMK_R_V" = -144;
"@MMK_R_X" = -64;
"@MMK_R_backslash" = -24;
"@MMK_R_emdash" = 32;
"@MMK_R_emdash.case" = 32;
"@MMK_R_f" = -24;
"@MMK_R_parenright" = -48;
"@MMK_R_parenright.case" = -48;
"@MMK_R_period" = -16;
"@MMK_R_qouteright" = -40;
"@MMK_R_question" = -80;
"@MMK_R_quotesingle" = -56;
"@MMK_R_seven" = -32;
"@MMK_R_slash" = -24;
"@MMK_R_v" = -72;
"@MMK_R_x" = -48;
};
"@MMK_L_one" = {
"@MMK_R_qouteright" = -80;
};
"@MMK_L_parenleft" = {
"@MMK_R_A" = -48;
"@MMK_R_J" = -72;
"@MMK_R_O" = -48;
"@MMK_R_S" = -80;
"@MMK_R_eight" = -32;
"@MMK_R_f" = -16;
"@MMK_R_five" = -48;
"@MMK_R_four" = -72;
"@MMK_R_hyphen" = -80;
"@MMK_R_hyphen.case" = -80;
"@MMK_R_j" = 96;
"@MMK_R_jdotless" = 96;
"@MMK_R_nine" = -56;
"@MMK_R_nine.cv11" = -40;
"@MMK_R_o" = -48;
"@MMK_R_quoteleft" = -96;
"@MMK_R_s" = -48;
"@MMK_R_six.cv11" = -48;
"@MMK_R_three" = -56;
"@MMK_R_two" = -48;
"@MMK_R_u" = -40;
"@MMK_R_v" = -40;
"@MMK_R_x" = -32;
};
"@MMK_L_parenleft.case" = {
"@MMK_R_J" = -24;
"@MMK_R_O" = -32;
"@MMK_R_S" = -32;
"@MMK_R_eight" = -32;
"@MMK_R_f" = -24;
"@MMK_R_five" = -40;
"@MMK_R_four" = -40;
"@MMK_R_hyphen.case" = -80;
"@MMK_R_j" = 96;
"@MMK_R_jdotless" = 96;
"@MMK_R_nine" = -48;
"@MMK_R_nine.cv11" = -24;
"@MMK_R_o" = -48;
"@MMK_R_quoteleft" = -72;
"@MMK_R_s" = -24;
"@MMK_R_six.cv11" = -40;
"@MMK_R_three" = -32;
"@MMK_R_u" = -32;
"@MMK_R_v" = -64;
};
"@MMK_L_period" = {
"@MMK_R_O" = -72;
"@MMK_R_T" = -240;
"@MMK_R_U" = -88;
"@MMK_R_V" = -240;
"@MMK_R_backslash" = -96;
"@MMK_R_f" = -128;
"@MMK_R_five" = -48;
"@MMK_R_nine" = -56;
"@MMK_R_nine.cv11" = -96;
"@MMK_R_o" = -16;
"@MMK_R_one" = -136;
"@MMK_R_qouteright" = -120;
"@MMK_R_question" = -160;
"@MMK_R_seven" = -104;
"@MMK_R_six.cv11" = -64;
"@MMK_R_u" = -64;
"@MMK_R_v" = -200;
};
"@MMK_L_periodcentered" = {
"@MMK_R_A" = -80;
"@MMK_R_T" = -240;
"@MMK_R_V" = -152;
"@MMK_R_X" = -104;
"@MMK_R_f" = -8;
"@MMK_R_nine" = -32;
"@MMK_R_one" = -24;
"@MMK_R_question" = -80;
"@MMK_R_questiondown" = -80;
"@MMK_R_seven" = -104;
"@MMK_R_three" = -16;
"@MMK_R_v" = -56;
"@MMK_R_x" = -48;
};
"@MMK_L_q" = {
"@MMK_R_j" = 96;
};
"@MMK_L_qouteright" = {
"@MMK_R_colon" = -144;
"@MMK_R_period" = -240;
};
"@MMK_L_question" = {
"@MMK_R_A" = -160;
"@MMK_R_J" = -168;
"@MMK_R_backslash" = 48;
"@MMK_R_g" = -24;
"@MMK_R_hyphen" = -112;
"@MMK_R_hyphen.case" = -24;
"@MMK_R_o" = -24;
"@MMK_R_period" = -160;
"@MMK_R_periodcentered" = -48;
"@MMK_R_questiondown" = -176;
"@MMK_R_slash" = -160;
"@MMK_R_underscore" = -112;
};
"@MMK_L_questiondown" = {
"@MMK_R_backslash" = -176;
"@MMK_R_hyphen" = -112;
"@MMK_R_hyphen.case" = -144;
"@MMK_R_periodcentered" = -48;
"@MMK_R_question" = -144;
"@MMK_R_quotesingle" = -96;
};
"@MMK_L_quoteleft" = {
"@MMK_R_A" = -208;
"@MMK_R_J" = -392;
"@MMK_R_O" = -104;
"@MMK_R_S" = -80;
"@MMK_R_backslash" = 56;
"@MMK_R_colon" = -88;
"@MMK_R_eight" = -72;
"@MMK_R_emdash" = -56;
"@MMK_R_f" = -32;
"@MMK_R_five" = -48;
"@MMK_R_four" = -160;
"@MMK_R_g" = -104;
"@MMK_R_hyphen" = -120;
"@MMK_R_hyphen.case" = -104;
"@MMK_R_j" = -56;
"@MMK_R_jdotless" = -112;
"@MMK_R_n" = -56;
"@MMK_R_nine" = -64;
"@MMK_R_nine.cv11" = -64;
"@MMK_R_o" = -128;
"@MMK_R_one" = -48;
"@MMK_R_p" = -64;
"@MMK_R_period" = -248;
"@MMK_R_periodcentered" = -72;
"@MMK_R_s" = -88;
"@MMK_R_six.cv11" = -176;
"@MMK_R_slash" = -272;
"@MMK_R_three" = -72;
"@MMK_R_two" = -72;
"@MMK_R_u" = -56;
"@MMK_R_v" = -64;
"@MMK_R_x" = -56;
"@MMK_R_z" = -56;
};
"@MMK_L_quotesingle" = {
"@MMK_R_A" = -176;
"@MMK_R_J" = -128;
"@MMK_R_O" = -24;
"@MMK_R_four" = -40;
"@MMK_R_g" = -56;
"@MMK_R_numbersign" = -96;
"@MMK_R_o" = -56;
"@MMK_R_questiondown" = -96;
"@MMK_R_six.cv11" = -32;
"@MMK_R_slash" = -264;
};
"@MMK_L_r" = {
"@MMK_R_A" = -88;
"@MMK_R_J" = -120;
"@MMK_R_V" = -32;
"@MMK_R_X" = -32;
"@MMK_R_Z" = -16;
"@MMK_R_f" = 32;
"@MMK_R_five" = -8;
"@MMK_R_four" = -24;
"@MMK_R_g" = -8;
"@MMK_R_o" = -8;
"@MMK_R_period" = -192;
"@MMK_R_seven" = -40;
"@MMK_R_six.cv11" = -16;
"@MMK_R_slash" = -80;
"@MMK_R_three" = -80;
"@MMK_R_two" = -48;
"@MMK_R_v" = 32;
};
"@MMK_L_s" = {
"@MMK_R_A" = -16;
"@MMK_R_S" = -16;
"@MMK_R_T" = -112;
"@MMK_R_V" = -88;
"@MMK_R_X" = -24;
"@MMK_R_Z" = -8;
"@MMK_R_emdash" = 24;
"@MMK_R_parenright" = -48;
"@MMK_R_s" = 24;
"@MMK_R_seven" = -48;
"@MMK_R_v" = -24;
"@MMK_R_x" = -16;
};
"@MMK_L_seven" = {
"@MMK_R_A" = -152;
"@MMK_R_J" = -144;
"@MMK_R_backslash" = 32;
"@MMK_R_colon" = -56;
"@MMK_R_g" = -32;
"@MMK_R_hyphen" = -24;
"@MMK_R_hyphen.case" = -24;
"@MMK_R_o" = -32;
"@MMK_R_period" = -176;
"@MMK_R_periodcentered" = -64;
"@MMK_R_s" = -48;
"@MMK_R_slash" = -160;
"@MMK_R_z" = -32;
};
"@MMK_L_six" = {
"@MMK_R_A" = -72;
"@MMK_R_T" = -48;
"@MMK_R_V" = -40;
"@MMK_R_X" = -32;
"@MMK_R_f" = -16;
"@MMK_R_parenright" = -32;
"@MMK_R_parenright.case" = -16;
"@MMK_R_period" = -32;
"@MMK_R_qouteright" = -80;
"@MMK_R_slash" = -64;
"@MMK_R_v" = -40;
"@MMK_R_x" = -48;
};
"@MMK_L_six.cv11" = {
"@MMK_R_A" = -56;
"@MMK_R_T" = -104;
"@MMK_R_V" = -144;
"@MMK_R_X" = -104;
"@MMK_R_Z" = -16;
"@MMK_R_f" = -16;
"@MMK_R_parenright" = -40;
"@MMK_R_parenright.case" = -24;
"@MMK_R_period" = -64;
"@MMK_R_qouteright" = -104;
"@MMK_R_quotesingle" = -48;
"@MMK_R_slash" = -64;
"@MMK_R_v" = -48;
"@MMK_R_x" = -40;
};
"@MMK_L_slash" = {
"@MMK_R_A" = -72;
"@MMK_R_J" = -32;
"@MMK_R_V" = 56;
"@MMK_R_X" = 56;
"@MMK_R_four" = -16;
"@MMK_R_o" = -24;
"@MMK_R_period" = -96;
"@MMK_R_questiondown" = -160;
"@MMK_R_underscore" = -160;
};
"@MMK_L_t" = {
"@MMK_R_T" = -32;
"@MMK_R_V" = -32;
"@MMK_R_period" = 16;
"@MMK_R_s" = 24;
};
"@MMK_L_t.cv02" = {
"@MMK_R_A" = -104;
"@MMK_R_J" = -72;
"@MMK_R_O" = -16;
"@MMK_R_S" = -24;
"@MMK_R_T" = -16;
"@MMK_R_V" = -48;
"@MMK_R_X" = -64;
"@MMK_R_Z" = -32;
"@MMK_R_eight" = -8;
"@MMK_R_five" = -16;
"@MMK_R_four" = -8;
"@MMK_R_g" = -48;
"@MMK_R_hyphen" = -48;
"@MMK_R_o" = -40;
"@MMK_R_parenright" = -40;
"@MMK_R_period" = -144;
"@MMK_R_periodcentered" = -8;
"@MMK_R_seven" = -32;
"@MMK_R_slash" = -88;
"@MMK_R_three" = -64;
"@MMK_R_two" = -48;
"@MMK_R_underscore" = -160;
};
"@MMK_L_three" = {
"@MMK_R_A" = -32;
"@MMK_R_f" = -32;
"@MMK_R_parenright" = -16;
"@MMK_R_qouteright" = -24;
"@MMK_R_slash" = -56;
};
"@MMK_L_two" = {
"@MMK_R_V" = -24;
"@MMK_R_parenright" = -56;
"@MMK_R_qouteright" = -24;
};
"@MMK_L_u.cv04" = {
"@MMK_R_A" = -32;
"@MMK_R_S" = -24;
"@MMK_R_T" = -104;
"@MMK_R_V" = -96;
"@MMK_R_X" = -56;
"@MMK_R_Z" = -16;
"@MMK_R_hyphen" = -16;
"@MMK_R_hyphen.case" = -16;
"@MMK_R_period" = -64;
"@MMK_R_seven" = -48;
};
"@MMK_L_underscore" = {
"@MMK_R_backslash" = -160;
"@MMK_R_f" = -160;
"@MMK_R_question" = -112;
"@MMK_R_slash" = 160;
};
"@MMK_L_v" = {
"@MMK_R_A" = -152;
"@MMK_R_J" = -96;
"@MMK_R_S" = -24;
"@MMK_R_T" = -72;
"@MMK_R_V" = -32;
"@MMK_R_X" = -72;
"@MMK_R_Z" = -24;
"@MMK_R_emdash" = -48;
"@MMK_R_four" = -56;
"@MMK_R_g" = -48;
"@MMK_R_hyphen" = -80;
"@MMK_R_o" = -48;
"@MMK_R_parenright" = -40;
"@MMK_R_parenright.case" = -64;
"@MMK_R_period" = -200;
"@MMK_R_periodcentered" = -56;
"@MMK_R_s" = -40;
"@MMK_R_seven" = -32;
"@MMK_R_six.cv11" = -24;
"@MMK_R_slash" = -112;
"@MMK_R_three" = -40;
};
"@MMK_L_x" = {
"@MMK_R_J" = -56;
"@MMK_R_T" = -72;
"@MMK_R_V" = -32;
"@MMK_R_emdash" = -48;
"@MMK_R_f" = 24;
"@MMK_R_four" = -40;
"@MMK_R_g" = -48;
"@MMK_R_hyphen" = -112;
"@MMK_R_hyphen.case" = -48;
"@MMK_R_o" = -48;
"@MMK_R_parenright" = -32;
"@MMK_R_periodcentered" = -48;
"@MMK_R_s" = -16;
"@MMK_R_six.cv11" = -40;
"@MMK_R_slash" = -72;
};
"@MMK_L_z" = {
"@MMK_R_A" = -8;
"@MMK_R_T" = -72;
"@MMK_R_V" = -80;
"@MMK_R_seven" = -32;
};
G = {
"@MMK_R_qouteright" = -32;
};
nine = {
"@MMK_R_seven" = 0;
};
zero = {
"@MMK_R_seven" = 0;
};
};
};
metrics = (
{
type = ascender;
},
{
type = "cap height";
},
{
type = "x-height";
},
{
type = baseline;
},
{
type = descender;
},
{
type = "italic angle";
},
{
name = "Cap Center";
},
{
name = "Low Center";
}
);
note = "About:
- Geometric with a heart, Humanist with a soul

Metric:
- x-height: 0.7125
- Cap overshoot: Cap height * (0.0375 / 2) + 1 = 28
- Low overshoot: x-height * ((0.0375 + 0.0125) / 2) + 1 = 28

Thickness:
- Thin: 44
- Regular: 180
- Heavy: 392

Essential Glyph:
- H: 0.8:1
- O: 0.95:1

Family tree:
- Circular + Twentieth Century + Avenir

Insight:
- Erbar Grotesk(1926)는 특징이 없고 읽기 쉬우며, 순수한 타이포그래피를 지향했다.
- Futura(1928)은 기하학적 조형 원리를 바탕으로 견고하면서도 읽기 쉬운 타이포그래피를 지향했다.
- Twentieth Century(1959)는 Futura를 견제하고자 Futura 대체 글꼴을 제작했다.
- Avenir(1988)은 20세기 초 건조한 지오메트릭 산세리프 형태에서 휴머니스트 스타일을 결합한 자연스러운 타이포그래피를 지향했다.
- Circular(2013)는 그동안의 지오메트릭 산세리프 형태를 바탕으로 자연스럽고 노련한 타이포그래피를 지향했다.
- Volte(2016)은 건조한 지오메트릭 산세리프 형태에서 모양을 열어 트렌디한 타이포그래피를 지향했다.

Reference:
- Twentieth Century
- Circular
- Avenir
- Volte";
properties = (
{
key = designers;
values = (
{
language = dflt;
value = "Kil Hyung-jin, Kang Hanbin";
}
);
},
{
key = manufacturers;
values = (
{
language = dflt;
value = "Wantedlab, Inc.";
}
);
},
{
key = manufacturerURL;
value = "https://wantedlab.com";
},
{
key = copyrights;
values = (
{
language = dflt;
value = "Copyright © 2023 Wantedlab, Inc.";
}
);
},
{
key = licenses;
values = (
{
language = dflt;
value = "This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://scripts.sil.org/OFL";
}
);
},
{
key = trademarks;
values = (
{
language = dflt;
value = "Wanted Sans is a trademark of Wantedlab, Inc.";
}
);
},
{
key = vendorID;
value = WNTD;
},
{
key = licenseURL;
value = "https://scripts.sil.org/OFL";
}
);
settings = {
gridLength = 8;
gridSubDivision = 4;
keyboardIncrementBig = 4;
};
unitsPerEm = 2048;
userData = {
GSDimensionPlugin.Dimensions = {
"94F54C43-8AEE-4ED6-B3C2-2A9D33534E61" = {
HH = "392";
HV = "416";
OH = "392";
OV = "416";
nV = "400";
oH = "360";
oV = "376";
tH = "304";
};
m01 = {
HH = "164";
HV = "176";
OH = "168";
OV = "180";
nV = "168";
oH = "160";
oV = "172";
tH = "140";
};
};
};
versionMajor = 0;
versionMinor = 302;
}
