{
.appVersion = "3184";
.formatVersion = 3;
axes = (
{
name = Weight;
tag = wght;
}
);
customParameters = (
{
name = fsType;
value = (
);
}
);
date = "2023-04-03 02:58:10 +0000";
familyName = "Wanted Sans";
fontMaster = (
{
axesValues = (
400
);
customParameters = (
{
name = "Master Icon Glyph Name";
value = R;
},
{
name = typoAscender;
value = 1950;
},
{
name = hheaAscender;
value = 1950;
},
{
name = winAscent;
value = 1950;
},
{
name = typoDescender;
value = -494;
},
{
name = hheaDescender;
value = -494;
},
{
name = winDescent;
value = 494;
},
{
name = strikeoutPosition;
value = 604;
},
{
name = underlineThickness;
value = 164;
},
{
name = strikeoutSize;
value = 164;
},
{
name = underlinePosition;
value = -399;
},
{
name = typoLineGap;
value = 0;
},
{
name = hheaLineGap;
value = 0;
}
);
id = m01;
metricValues = (
{
pos = 1950;
},
{
over = 28;
pos = 1448;
},
{
over = 28;
pos = 1032;
},
{
over = -28;
},
{
pos = -494;
},
{
over = -16;
}
);
name = Regular;
userData = {
GSOffsetHorizontal = -20.5;
GSOffsetKeepCompatible = 1;
GSOffsetVertical = -20.5;
};
},
{
axesValues = (
900
);
customParameters = (
{
name = "Master Icon Glyph Name";
value = B;
},
{
name = typoAscender;
value = 1950;
},
{
name = hheaAscender;
value = 1950;
},
{
name = winAscent;
value = 1950;
},
{
name = typoDescender;
value = -494;
},
{
name = hheaDescender;
value = -494;
},
{
name = winDescent;
value = 494;
},
{
name = strikeoutPosition;
value = 604;
},
{
name = underlineThickness;
value = 164;
},
{
name = strikeoutSize;
value = 164;
},
{
name = underlinePosition;
value = -399;
},
{
name = typoLineGap;
value = 0;
},
{
name = hheaLineGap;
value = 0;
}
);
id = "94F54C43-8AEE-4ED6-B3C2-2A9D33534E61";
metricValues = (
{
pos = 1950;
},
{
over = 28;
pos = 1448;
},
{
over = 28;
pos = 1032;
},
{
over = -28;
},
{
pos = -494;
},
{
over = -16;
}
);
name = Black;
}
);
instances = (
{
axesValues = (
400
);
customParameters = (
{
name = panose;
value = (
2,
11,
5,
4,
0,
0,
0,
0,
0,
0
);
}
);
instanceInterpolations = {
m01 = 1;
};
name = Regular;
},
{
axesValues = (
500
);
customParameters = (
{
name = panose;
value = (
2,
11,
6,
4,
0,
0,
0,
0,
0,
0
);
}
);
instanceInterpolations = {
"94F54C43-8AEE-4ED6-B3C2-2A9D33534E61" = 0.2;
m01 = 0.8;
};
name = Medium;
weightClass = 500;
},
{
axesValues = (
700
);
customParameters = (
{
name = panose;
value = (
2,
11,
8,
4,
0,
0,
0,
0,
0,
0
);
}
);
instanceInterpolations = {
"94F54C43-8AEE-4ED6-B3C2-2A9D33534E61" = 0.6;
m01 = 0.4;
};
isBold = 1;
name = Bold;
weightClass = 700;
}
);
metrics = (
{
type = ascender;
},
{
type = "cap height";
},
{
type = "x-height";
},
{
type = baseline;
},
{
type = descender;
},
{
type = "italic angle";
}
);
note = "Metric:
- x-height: 0.7125
- Cap overshoot: Cap height * (0.0375 / 2) + 1 = 28
- Low overshoot: x-height * ((0.0375 + 0.0125) / 2) + 1 = 28

Thickness:
- Thin: 44
- Regular: 180
- Heavy: 392

Essential Glyph:
- H: 0.8:1
- O: 0.95:1";
properties = (
{
key = designers;
values = (
{
language = dflt;
value = "Kang Hanbin, Kil Hyung-jin";
}
);
},
{
key = manufacturers;
values = (
{
language = dflt;
value = "Wantedlab, Inc.";
}
);
},
{
key = manufacturerURL;
value = "https://wantedlab.com";
},
{
key = copyrights;
values = (
{
language = dflt;
value = "Copyright © 2023 Wantedlab, Inc.";
}
);
},
{
key = licenses;
values = (
{
language = dflt;
value = "Wantedlab supplied font. You may use this font to create, display and print content as permitted by the license terms, or terms of use, of the Wanted product, service or content in which this font was included. You may only (i) embed this font in content as permitted by the embedding restrictions included in this font; and (ii) temporarily download this font to a printer or other output device to help print content. Any other use is prohibited.";
}
);
},
{
key = trademarks;
values = (
{
language = dflt;
value = "Wanted Sans is a trademark of Wantedlab, Inc.";
}
);
},
{
key = vendorID;
value = WNTD;
}
);
settings = {
gridLength = 8;
gridSubDivision = 4;
};
unitsPerEm = 2048;
userData = {
GSDimensionPlugin.Dimensions = {
"94F54C43-8AEE-4ED6-B3C2-2A9D33534E61" = {
HH = "376";
HV = "400";
OH = "384";
OV = "408";
nV = "384";
oH = "376";
oV = "392";
tH = "328";
};
m01 = {
HH = "168";
HV = "180";
OH = "172";
OV = "184";
nV = "172";
oH = "164";
oV = "176";
tH = "144";
};
};
};
versionMajor = 0;
versionMinor = 200;
}
