(
A,
B,
C,
Ccedilla,
D,
Eth,
E,
F,
G,
H,
I,
J,
K,
L,
Lslash,
M,
N,
O,
Oslash,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
J.cv05,
Q.cv06,
a,
aacute,
abreve,
acaron,
acircumflex,
adblgrave,
adieresis,
adotaccent,
agrave,
amacron,
aogonek,
aring,
atilde,
b,
c,
ccedilla,
d,
eth,
e,
f,
g,
h,
i,
idotless,
j,
jdotless,
k,
l,
lslash,
m,
n,
o,
oslash,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z,
j.cv01,
jdotless.cv01,
t.cv02,
a.cv03,
aacute.cv03,
abreve.cv03,
acaron.cv03,
acircumflex.cv03,
adblgrave.cv03,
adieresis.cv03,
adotaccent.cv03,
agrave.cv03,
amacron.cv03,
aogonek.cv03,
aring.cv03,
atilde.cv03,
u.cv04,
b.cv14,
d.cv14,
h.cv14,
k.cv14,
l.cv14,
lslash.cv14,
r.cv16,
aacute.loclPLK,
aacute.loclPLK.cv03,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
one.cv07,
two.cv08,
three.cv09,
four.cv10,
six.cv11,
nine.cv11,
seven.cv12,
two.cv15,
zero.dnom,
zero.numr,
fraction,
zeroinferior,
zerosuperior,
space,
enquad,
emquad,
threeperemspace,
fourperemspace,
sixperemspace,
figurespace,
punctuationspace,
thinspace,
hairspace,
zerowidthspace,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
asterisk,
numbersign,
slash,
backslash,
twodotenleader,
colon.case,
periodcentered.case,
slash.case,
backslash.case,
question.cv13,
questiondown.cv13,
periodcentered.loclCAT,
periodcentered.loclCAT.case,
hyphen,
endash,
emdash,
underscore,
hyphen.case,
endash.case,
emdash.case,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
parenleft.case,
parenright.case,
braceleft.case,
braceright.case,
bracketleft.case,
bracketright.case,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
quotedbl,
quotesingle,
at,
degree,
bar,
at.case,
plus,
minus,
equal,
asciitilde,
asciicircum,
plus.case,
minus.case,
equal.case,
asciitilde.case,
dieresiscomb,
dotaccentcomb,
gravecomb,
acutecomb,
hungarumlautcomb,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
dblgravecomb,
cedillacomb,
ogonekcomb,
acutecomb.loclPLK,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
acute.loclPLK,
_part.Bbase,
_part.Dbase,
_part.Ebase,
_part.Ethbase,
_part.Fbase,
_part.Hbase,
_part.Jserif,
_part.Kbase,
_part.Lbase,
_part.Lslash,
_part.Mbase,
_part.Nbase,
_part.Qbase,
_part.Rbase,
_part.Tbase,
_part.Ybase,
_part.atbase,
_part.braceleftbase,
_part.exclambase,
_part.fbase,
_part.gbase,
_part.kbase,
_part.questionbase,
_part.rbase,
_smart.Pbase,
_smart.bowl,
_smart.crossbar,
_smart.diacriticslashlarge,
_smart.diacriticslashsmall,
_smart.dot,
_smart.grave,
_smart.horizontalbar,
_smart.lowerstem,
_smart.ogonek,
_smart.shoulder,
_smart.terminal,
_smart.upperstem,
_part.questionbase.cv13,
_part.rbase.cv16
)