(
A,
B,
C,
D,
E,
F,
G,
H,
I,
J,
K,
L,
M,
N,
O,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
J.cv05,
Q.cv06,
a,
b,
c,
d,
e,
f,
g,
h,
i,
idotless,
j,
jdotless,
k,
l,
m,
n,
o,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z,
j.cv01,
jdotless.cv01,
t.cv02,
a.cv03,
u.cv04,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
one.cv07,
two.cv08,
three.cv09,
four.cv10,
six.cv11,
nine.cv11,
seven.cv12,
space,
enquad,
emquad,
threeperemspace,
fourperemspace,
sixperemspace,
figurespace,
punctuationspace,
thinspace,
hairspace,
zerowidthspace,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
numbersign,
slash,
backslash,
twodotenleader,
colon.case,
question.cv13,
questiondown.cv13,
hyphen,
endash,
emdash,
underscore,
hyphen.case,
endash.case,
emdash.case,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
parenleft.case,
parenright.case,
braceleft.case,
braceright.case,
bracketleft.case,
bracketright.case,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
quotedbl,
quotesingle,
at,
bar,
at.case,
plus,
minus,
equal,
plus.case,
minus.case,
equal.case,
dotaccentcomb,
dotaccent,
_part.Bbase,
_part.Dbase,
_part.Ebase,
_part.Fbase,
_part.Hbase,
_part.Jserif,
_part.Kbase,
_part.Lbase,
_part.Mbase,
_part.Nbase,
_part.Qbase,
_part.Rbase,
_part.Tbase,
_part.Ybase,
_part.atbase,
_part.braceleftbase,
_part.exclambase,
_part.fbase,
_part.gbase,
_part.kbase,
_part.questionbase,
_part.rbase,
_smart.Pbase,
_smart.bowl,
_smart.crossbar,
_smart.dot,
_smart.horizontalbar,
_smart.lowerstem,
_smart.shoulder,
_smart.terminal,
_smart.upperstem,
_part.questionbase.cv13
)