(
A,
Aacute,
Abreve,
Acaron,
Acircumflex,
Acircumflexdotbelow,
Adieresis,
Agrave,
Amacron,
Aogonek,
Aring,
Atilde,
B,
Bdotbelow,
C,
Cacute,
Ccaron,
Ccedilla,
Ccircumflex,
Cdotaccent,
D,
Dcaron,
Dcircumflexbelow,
Dcroat,
Ddotbelow,
Dmacronbelow,
Dtail,
Eth,
E,
Eacute,
Ecaron,
Ecedilla,
Ecircumflex,
Ecircumflexdotbelow,
Edieresis,
Edotaccent,
Edotbelow,
Egrave,
Emacron,
Eogonek,
Ereversed,
Etilde,
F,
G,
Gbreve,
Gcaron,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
Gmacron,
H,
Hcircumflex,
Hdotbelow,
I,
Iacute,
Icaron,
Icircumflex,
Idieresis,
Idotaccent,
Igrave,
Imacron,
Iogonek,
Itilde,
J,
Jacute,
Jcircumflex,
K,
Kcaron,
Kcommaaccent,
L,
Lacute,
Lcaron,
Lcircumflexbelow,
Lcommaaccent,
Ldotbelow,
Lslash,
M,
Macute,
N,
Nacute,
Ncaron,
Ncircumflexbelow,
Ncommaaccent,
Ndotaccent,
Ndotbelow,
Ntilde,
O,
Oacute,
Ocaron,
Ocircumflex,
Ocircumflexdotbelow,
Odieresis,
Odotbelow,
Ograve,
Ohungarumlaut,
Omacron,
Oopen,
Oslash,
Oslashacute,
Otilde,
P,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
S,
Sacute,
Scaron,
Scedilla,
Scircumflex,
Scommaaccent,
Sdotbelow,
T,
Tcaron,
Tcedilla,
Tcircumflexbelow,
Tcommaaccent,
Tdotbelow,
Tmacronbelow,
U,
Uacute,
Ubreve,
Ucaron,
Ucircumflex,
Udieresis,
Udotbelow,
Ugrave,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
Utilde,
V,
Vturned,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
X,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ygrave,
Ytilde,
Z,
Zacute,
Zcaron,
Zdotaccent,
Zdotbelow,
J.cv05,
Jacute.cv05,
Jcircumflex.cv05,
Q.cv06,
Cacute.loclPLK,
Nacute.loclPLK,
Oacute.loclPLK,
Sacute.loclPLK,
Zacute.loclPLK,
a,
aacute,
abreve,
acaron,
acircumflex,
acircumflexdotbelow,
adblgrave,
adieresis,
adotaccent,
adotbelow,
agrave,
"alpha-latin",
"alphaturned-latin",
amacron,
aogonek,
aring,
atilde,
aturned,
b,
bdotbelow,
c,
cacute,
ccaron,
ccedilla,
ccircumflex,
cdotaccent,
d,
dcaron,
dcircumflexbelow,
dcroat,
ddotbelow,
dmacronbelow,
eth,
e,
eacute,
ecaron,
ecedilla,
ecircumflex,
ecircumflexdotbelow,
edieresis,
edotaccent,
edotbelow,
egrave,
emacron,
eogonek,
ereversed,
etilde,
eturned,
schwa,
f,
g,
gbreve,
gcaron,
gcircumflex,
gcommaaccent,
gdotaccent,
gmacron,
gsingle,
h,
hbar,
hcircumflex,
hdotbelow,
i,
idotless,
iacute,
icaron,
icircumflex,
idieresis,
idotaccent,
igrave,
imacron,
iogonek,
istroke,
itilde,
j,
jdotless,
jacute,
jcircumflex,
k,
kcaron,
kcommaaccent,
kturned,
l,
lacute,
lcaron,
lcircumflexbelow,
lcommaaccent,
ldotbelow,
lslash,
m,
macute,
mturned,
n,
nacute,
ncaron,
ncircumflexbelow,
ncommaaccent,
ndotaccent,
ndotbelow,
ntilde,
o,
oacute,
ocaron,
ocircumflex,
ocircumflexdotbelow,
odieresis,
odotbelow,
ograve,
ohungarumlaut,
omacron,
oopen,
oslash,
oslashacute,
otilde,
p,
q,
r,
racute,
rcaron,
rcommaaccent,
rturned,
s,
sacute,
scaron,
scedilla,
scircumflex,
scommaaccent,
sdotbelow,
t,
tcaron,
tcedilla,
tcircumflexbelow,
tcommaaccent,
tdotbelow,
tmacronbelow,
u,
uacute,
ubreve,
ucaron,
ucircumflex,
udieresis,
udotbelow,
ugrave,
uhungarumlaut,
umacron,
uogonek,
uring,
utilde,
v,
vturned,
w,
wacute,
wcircumflex,
wdieresis,
wgrave,
wturned,
x,
y,
yacute,
ycircumflex,
ydieresis,
ygrave,
ytilde,
yturned,
z,
zacute,
zcaron,
zdotaccent,
zdotbelow,
j.cv01,
jdotless.cv01,
jacute.cv01,
jcircumflex.cv01,
t.cv02,
tcaron.cv02,
tcedilla.cv02,
tcircumflexbelow.cv02,
tcommaaccent.cv02,
tdotbelow.cv02,
tmacronbelow.cv02,
a.cv03,
aacute.cv03,
abreve.cv03,
acaron.cv03,
acircumflex.cv03,
acircumflexdotbelow.cv03,
adblgrave.cv03,
adieresis.cv03,
adotaccent.cv03,
adotbelow.cv03,
agrave.cv03,
amacron.cv03,
aogonek.cv03,
aring.cv03,
atilde.cv03,
aturned.cv03,
u.cv04,
uacute.cv04,
ubreve.cv04,
ucaron.cv04,
ucircumflex.cv04,
udieresis.cv04,
udotbelow.cv04,
ugrave.cv04,
uhungarumlaut.cv04,
umacron.cv04,
uogonek.cv04,
uring.cv04,
utilde.cv04,
b.cv14,
bdotbelow.cv14,
d.cv14,
dcaron.cv14,
dcircumflexbelow.cv14,
dcroat.cv14,
ddotbelow.cv14,
dmacronbelow.cv14,
h.cv14,
hbar.cv14,
hcircumflex.cv14,
hdotbelow.cv14,
k.cv14,
kcaron.cv14,
kcommaaccent.cv14,
l.cv14,
lacute.cv14,
lcaron.cv14,
lcircumflexbelow.cv14,
lcommaaccent.cv14,
ldotbelow.cv14,
lslash.cv14,
r.cv16,
racute.cv16,
rcaron.cv16,
rcommaaccent.cv16,
rturned.cv16,
aacute.loclPLK,
cacute.loclPLK,
nacute.loclPLK,
oacute.loclPLK,
sacute.loclPLK,
zacute.loclPLK,
aacute.loclPLK.cv03,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
one.cv07,
two.cv08,
three.cv09,
four.cv10,
six.cv11,
nine.cv11,
seven.cv12,
two.cv15,
zero.dnom,
one.dnom,
two.dnom,
three.dnom,
four.dnom,
five.dnom,
six.dnom,
seven.dnom,
eight.dnom,
nine.dnom,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
fraction,
onehalf,
onequarter,
threequarters,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
one.dnom.cv07,
one.numr.cv07,
onehalf.cv07,
onequarter.cv07,
oneeighth.cv07,
two.dnom.cv08,
two.numr.cv08,
onehalf.cv08,
three.dnom.cv09,
three.numr.cv09,
threequarters.cv09,
threeeighths.cv09,
four.dnom.cv10,
four.numr.cv10,
onequarter.cv10,
threequarters.cv10,
six.dnom.cv11,
nine.dnom.cv11,
six.numr.cv11,
nine.numr.cv11,
seven.dnom.cv12,
seven.numr.cv12,
seveneighths.cv12,
two.dnom.cv15,
two.numr.cv15,
onehalf.cv15,
onehalf.cv07.cv08,
onequarter.cv07.cv10,
onehalf.cv07.cv15,
threequarters.cv09.cv10,
zeroinferior,
oneinferior,
twoinferior,
threeinferior,
fourinferior,
fiveinferior,
sixinferior,
seveninferior,
eightinferior,
nineinferior,
zerosuperior,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
fivesuperior,
sixsuperior,
sevensuperior,
eightsuperior,
ninesuperior,
oneinferior.cv07,
onesuperior.cv07,
twoinferior.cv08,
twosuperior.cv08,
threeinferior.cv09,
threesuperior.cv09,
fourinferior.cv10,
foursuperior.cv10,
sixinferior.cv11,
nineinferior.cv11,
sixsuperior.cv11,
ninesuperior.cv11,
seveninferior.cv12,
sevensuperior.cv12,
twoinferior.cv15,
twosuperior.cv15,
space,
enquad,
emquad,
threeperemspace,
fourperemspace,
sixperemspace,
figurespace,
punctuationspace,
thinspace,
hairspace,
zerowidthspace,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
twodotenleader,
colon.case,
periodcentered.case,
slash.case,
backslash.case,
question.cv13,
questiondown.cv13,
periodcentered.loclCAT,
periodcentered.loclCAT.case,
hyphen,
endash,
emdash,
underscore,
hyphen.case,
endash.case,
emdash.case,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
parenleft.case,
parenright.case,
braceleft.case,
braceright.case,
bracketleft.case,
bracketright.case,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
quotedbl,
quotesingle,
at,
ampersand,
degree,
bar,
brokenbar,
at.case,
dollar,
won,
plus,
minus,
multiply,
divide,
equal,
greater,
less,
plusminus,
asciitilde,
asciicircum,
percent,
perthousand,
pertenthousand,
plus.case,
minus.case,
multiply.case,
divide.case,
equal.case,
greater.case,
less.case,
plusminus.case,
asciitilde.case,
dieresiscomb,
dotaccentcomb,
gravecomb,
acutecomb,
hungarumlautcomb,
caroncomb.alt,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
dblgravecomb,
commaturnedabovecomb,
commareversedabovecomb,
gravebelowcomb,
acutebelowcomb,
dotbelowcomb,
dieresisbelowcomb,
ringbelowcomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
caronbelowcomb,
circumflexbelowcomb,
brevebelowcomb,
breveinvertedbelowcomb,
tildebelowcomb,
macronbelowcomb,
strokeshortcomb,
ogonekcomb.case,
acutecomb.loclPLK,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
acute.loclPLK,
commareversedmod,
_part.Bbase,
_part.Dbase,
_part.Ebase,
_part.Ethbase,
_part.Fbase,
_part.Hbase,
_part.Jserif,
_part.Kbase,
_part.Lbase,
_part.Mbase,
_part.Nbase,
_part.Qbase,
_part.Rbase,
_part.Tbase,
_part.Ybase,
_part.atbase,
_part.braceleftbase,
_part.dollarbase,
_part.exclambase,
_part.fbase,
_part.gbase,
_part.kbase,
_part.percentdnom,
_part.percentnumr,
_part.questionbase,
_part.rbase,
_part.wonbase,
_smart.Pbase,
_smart.bowl,
_smart.crossbar,
_smart.currencybar,
_smart.currencystem,
_smart.diacriticslashlarge,
_smart.diacriticslashsmall,
_smart.dot,
_smart.grave,
_smart.horizontalbar,
_smart.lowerstem,
_smart.ogonek,
_smart.shoulder,
_smart.terminal,
_smart.upperstem,
_part.questionbase.cv13,
_part.rbase.cv16
)