{
displayStrings = (
"fijlpqr/_smart.terminal t",
"dont
bob",
"ıilwntd
wwww
ooooo
lllllll
bo/_part.shoulder nnnn
ttttt
ddddd",
"HIObdhilnopqtw
",
"/_smart.terminal",
"ıijt
jjj
iii
jp",
"i/_smart.terminal jft
ftj
pjft
fffffff
iiiiiiii
oooooo
tttttttt
jjjjjjjj
lllllllll",
"ıi/_smart.terminal jft"
);
}
