(
iconCircle.medium,
iconCircleFill.medium,
iconSquare.medium,
iconSquareFill.medium,
iconArrowUp.medium,
iconArrowDown.medium,
iconArrowLeft.medium,
iconArrowRight.medium,
iconArrowTopLeft.medium,
iconArrowTopRight.medium,
iconArrowBottomLeft.medium,
iconArrowBottomRight.medium,
iconArrowLeftRight.medium,
iconArrowUpDown.medium,
iconArrowBottomLeft.large,
iconArrowBottomLeft.small,
iconArrowBottomRight.large,
iconArrowBottomRight.small,
iconArrowDown.large,
iconArrowDown.small,
iconArrowLeft.large,
iconArrowLeft.small,
iconArrowLeftRight.large,
iconArrowLeftRight.small,
iconArrowRight.large,
iconArrowRight.small,
iconArrowTopLeft.large,
iconArrowTopLeft.small,
iconArrowTopRight.large,
iconArrowTopRight.small,
iconArrowUp.large,
iconArrowUp.small,
iconArrowUpDown.large,
iconArrowUpDown.small,
iconCircle.large,
iconCircle.small,
iconCircleFill.large,
iconCircleFill.small,
iconSquare.large,
iconSquare.small,
iconSquareFill.large,
iconSquareFill.small,
baseSymbol,
baseSymbol.large,
baseSymbol.medium
)